@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);

  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);

  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-between(
  $lower,
  $upper,
  $breakpoints: $grid-breakpoints
) {
  $min: breakpoint-min($lower, $breakpoints);
  $max: breakpoint-max($upper, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include media-breakpoint-up($lower) {
      @content;
    }
  } @else if $min == null {
    @include media-breakpoint-down($upper) {
      @content;
    }
  }
}

@mixin media-breakpoint-only($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  $max: breakpoint-max($name, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include media-breakpoint-up($name) {
      @content;
    }
  } @else if $min == null {
    @include media-breakpoint-down($name) {
      @content;
    }
  }
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}

@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

@mixin swallow-middle-right {
  top: $swallow-position-center;
  transform: translate(0, -$swallow-position-center);
}

@mixin swallow-middle-left {
  top: $swallow-position-center;
  transform: translate(0, -$swallow-position-center);
}

@mixin swallow-top-left {
  top: $swallow-sp-position-top;

  @include media-breakpoint-up(md) {
    top: $swallow-position-top;
  }
}

@mixin swallow-top-right {
  top: $swallow-sp-position-top;

  @include media-breakpoint-up(md) {
    top: $swallow-position-top;
  }
}

@mixin swallow-bottom-left {
  bottom: $swallow-sp-position-top;

  @include media-breakpoint-up(md) {
    bottom: $swallow-position-bottom;
  }
}

@mixin swallow-bottom-right {
  bottom: $swallow-sp-position-top;

  @include media-breakpoint-up(md) {
    bottom: $swallow-position-bottom;
  }
}
