@keyframes liblary-active {
  0%,
  15%,
  35%,
  50%,
  65%,
  85%,
  100% {
    top: 0;
  }

  10%,
  60% {
    top: -8px;
  }

  25%,
  75% {
    top: -12px;
  }
}

@keyframes liblary-active-md {
  0%,
  15%,
  35%,
  50%,
  65%,
  85%,
  100% {
    top: 0;
  }

  10%,
  60% {
    top: -10px;
  }

  25%,
  75% {
    top: -15px;
  }
}
