.c-liblary {
  position: absolute;
  right: 10px;
  z-index: 10;

  @include media-breakpoint-up(md) {
    right: calc(50% - 640px);
  }

  @include media-breakpoint-up(1400px) {
    right: 4%;
  }

  &__button {
    padding: 5px;

    @include media-breakpoint-up(md) {
      img {
        width: 40px;
        height: 26px;
      }
    }
  }

  &__card {
    position: absolute;
    top: 50%;
    left: -285px;
    width: 274px;
    visibility: hidden;
    background-image: url('/lp/assets/images/pages/liblary_bottom.png'),
      url('/lp/assets/images/pages/liblary_bg.png');
    background-repeat: no-repeat, repeat-y;
    background-position: 0 bottom, 0;
    background-size: 100% auto;
    box-shadow: 0 12px 25px 0 rgba(68, 95, 113, 0.3);
    opacity: 0;
    transition: visibility 0.4s, opacity 0.4s;
    transform: translateY(-50%);

    @include media-breakpoint-up(md) {
      left: -525px;
      width: 500px;
      background-image: url('/lp/assets/images/pages/liblary_bottom_md.png'),
        url('/lp/assets/images/pages/liblary_bg_md.png');
      box-shadow: 0 20px 50px 0 rgba(64, 95, 112, 0.25);
    }

    &::before {
      position: absolute;
      top: 0;
      right: -7px;
      bottom: 0;
      width: 0;
      height: 0;
      margin: auto;
      content: '';
      border: solid transparent;
      border-width: 7px 0 7px 7px;
      border-left-color: #fff;

      @include media-breakpoint-up(md) {
        right: -14px;
        border-width: 14px 0 14px 14px;
      }
    }

    .content {
      padding: 20px 25px 25px;

      @include media-breakpoint-up(md) {
        padding: 40px 50px 50px;
      }
    }

    .word {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 13px;
      font-family: 'Noto Serif JP', serif;
      font-weight: 600;
      color: #a48a47;

      @include media-breakpoint-up(md) {
        margin-bottom: 30px;
      }

      &__alphabet {
        margin-right: 10px;
        font-size: 70px;
        line-height: 1;

        @include media-breakpoint-up(md) {
          margin-right: 35px;
          font-size: 100px;
        }
      }

      &__text {
        .main {
          display: block;
          font-size: 16px;
          line-height: 1;
          letter-spacing: 0.13em;

          @include media-breakpoint-up(md) {
            font-size: 24px;
          }
        }

        .sub {
          display: block;
          margin-top: 8px;
          font-size: 11px;
          line-height: 1;

          @include media-breakpoint-up(md) {
            margin-top: 10px;
            font-size: 14px;
            letter-spacing: 0.13em;
          }
        }
      }
    }

    .text {
      font-size: 12px;
      line-height: 1.833;
      color: #4e4954;
      text-align: left;

      @include media-breakpoint-up(md) {
        font-size: 16px;
        line-height: 2;
      }
    }
  }

  &--reverse {
    right: auto;
    left: 10px;

    @include media-breakpoint-up(md) {
      right: auto;
      left: calc(50% - 640px);
    }

    @include media-breakpoint-up(1400px) {
      right: auto;
      left: 4%;
    }
  }

  &--reverse &__card {
    right: -285px;
    left: auto;

    @include media-breakpoint-up(md) {
      right: -525px;
      left: auto;
    }

    &::before {
      right: auto;
      left: -7px;
      border-width: 7px 7px 7px 0;
      border-right-color: #fff;

      @include media-breakpoint-up(md) {
        right: auto;
        left: -14px;
        border-width: 14px 14px 14px 0;
        border-right-color: #fff;
      }
    }
  }

  &__button:hover + &__card {
    @include media-breakpoint-up(md) {
      visibility: visible;
      opacity: 1;
    }
  }

  &__button.is-active + &__card {
    @include media-breakpoint-up(sm) {
      visibility: visible;
      opacity: 1;
    }
  }

  &.is-active &__button:not(:hover) img {
    position: relative;
    animation: liblary-active 2s infinite;

    @include media-breakpoint-up(md) {
      animation: liblary-active-md 2s infinite;
    }
  }
}
