.l-footer {
  padding: 120px 0 30px;
  background: url('/lp/assets/images/pages/footer_bg.jpg') no-repeat center /
    cover;

  @include media-breakpoint-up(md) {
    background-image: url('/lp/assets/images/pages/footer_bg_md.jpg');
  }

  .l-container {
    max-width: 740px;
  }

  .footer-log {
    margin-bottom: 50px;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin-bottom: 60px;
    }
  }

  .footer-btns {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    &__item {
      @include media-breakpoint-down(sm) {
        text-align: center;

        &:first-of-type {
          margin-bottom: 15px;
        }
      }

      a {
        @include media-breakpoint-up(md) {
          display: block;
          transition: 0.3s;

          &:hover {
            opacity: 0.85;
          }
        }
      }
    }
  }

  .footer-sns {
    margin-top: 35px;

    @include media-breakpoint-up(md) {
      margin-top: 60px;
    }

    &__txt {
      margin-bottom: 14px;
      font-size: 13px;
      font-weight: 500;
      color: #fff;
      text-align: center;
      letter-spacing: 0.2em;

      @include media-breakpoint-up(md) {
        margin-bottom: 30px;
        font-size: 16px;
      }
    }

    &__item {
      display: flex;
      justify-content: center;
      margin: 0 -5px;

      @include media-breakpoint-up(md) {
        margin: 0 -8px;
      }
    }

    .item-logo {
      padding: 0 5px;

      @include media-breakpoint-up(md) {
        padding: 0 8px;
      }

      &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border: 1px solid #fff;
        border-radius: 50%;

        @include media-breakpoint-up(md) {
          width: 50px;
          height: 50px;
          transition: 0.3s;
        }

        .sns-01,
        .sns-02 {
          fill: #fff;

          @include media-breakpoint-up(md) {
            transition: 0.3s;
          }
        }

        .sns-01 {
          width: 8px;
          height: 15px;

          @include media-breakpoint-up(md) {
            width: 9px;
            height: 17px;
          }
        }

        .sns-02 {
          width: 18px;
          height: 18px;

          @include media-breakpoint-up(md) {
            width: 20px;
            height: 20px;
          }
        }

        &:hover {
          @include media-breakpoint-up(md) {
            background: #fff;

            .sns-01,
            .sns-02 {
              fill: #1ba8d9;
            }
          }
        }
      }
    }
  }

  &__lower {
    padding-top: 30px;
    margin-top: 60px;
    border-top: 1px solid rgba(#fff, 0.3);

    @include media-breakpoint-up(md) {
      padding-top: 40px;
    }

    .l-container {
      @include media-breakpoint-down(sm) {
        width: 260px;
      }
    }
  }

  .footer-nav {
    display: flex;
    justify-content: center;
    margin: 0 -7.5px 30px;

    @include media-breakpoint-up(md) {
      margin: 0 -15px 40px;
    }

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }

    &__ls {
      position: relative;
      padding: 0 7.5px;
      line-height: 1;

      @include media-breakpoint-down(sm) {
        margin-bottom: 15px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      @include media-breakpoint-up(md) {
        padding: 0 15px;

        a:hover {
          text-decoration: underline;
        }
      }

      &:last-of-type {
        &::after {
          display: none;
        }
      }

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 1px;
        height: 100%;
        margin: auto;
        content: '';
        background-color: #fff;
      }

      .item {
        font-size: 11px;
        line-height: 1;
        color: #fff;
        letter-spacing: 0.2em;

        @include media-breakpoint-up(md) {
          font-size: 14px;
        }
      }
    }
  }

  .copyright {
    font-size: 9px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.12em;

    @include media-breakpoint-up(md) {
      font-size: 10px;
    }
  }
}
