@charset 'utf-8';

// prerequisites
@import 'abstracts/*';

// vendors
@import 'vendors/*';
@import '~ress/ress';
@import '~swiper/dist/css/swiper';
@import url('https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/css/yakuhanjp.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&family=Noto+Serif+JP:wght@600&display=swap');

// categorized rules
@import 'utils/*';
@import 'base/*';
@import 'layout/*';
@import 'components/*';

// partials
@import 'pages/_*';

[data-whatinput='mouse'] *:focus,
[data-whatinput='touch'] *:focus {
  outline: none;
}

// img
@include media-breakpoint-up(md) {
  img {
    width: auto;
    height: auto;
  }
}
