.fixed-conversion {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 7px 6px 15px;
  background: url('/lp/assets/images/pages/fixed_conversion_bg.jpg') no-repeat
    center / cover;
  transition: transform 0.5s;
  transform: translateY(100%);

  @include media-breakpoint-up(md) {
    justify-content: center;
    width: 1280px;
    padding: 15px;
    margin: 0 auto;
    background-image: url('/lp/assets/images/pages/fixed_conversion_bg_md.jpg');

    &__text {
      margin-right: 60px;
    }

    &__button {
      a {
        display: block;
        transition: 0.3s;
      }

      a:hover {
        opacity: 0.9;
      }
    }
  }

  &.is-active {
    transform: translateY(0);
  }
}
