.gap {
  position: relative;

  @include media-breakpoint-up(md) {
    height: 900px;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      right: -50%;
      bottom: 0;
      left: -50%;
      width: auto;
      margin: auto;
    }
  }
}
