.image-gallery {
  position: relative;
  z-index: 2;
  padding: 105px 0 0;
  background: #fff;

  @include media-breakpoint-up(md) {
    padding: 265px 0 175px;
  }

  &::before,
  &::after {
    position: absolute;
    top: 52.5px;
    right: 0;
    left: 0;
    z-index: -1;
    width: 337.5px;
    height: 1209px;
    margin: auto;
    content: '';
    background: url('/lp/assets/images/pages/gallery_bg_sm.png') center/cover;

    @include media-breakpoint-up(md) {
      top: 159px;
      right: -50%;
      bottom: auto;
      left: -50%;
      width: 928px;
      height: 223px;
      margin: auto;
      background-image: url('/lp/assets/images/pages/gallery_bg01_md.png');
    }
  }

  &::after {
    content: none;

    @include media-breakpoint-up(md) {
      top: 900px;
      width: 778px;
      height: 147px;
      content: '';
      background-image: url('/lp/assets/images/pages/gallery_bg02_md.png');
    }
  }

  .l-container {
    @include media-breakpoint-up(md) {
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .image01 {
    box-shadow: 0 22px 35px 0 rgba(100, 94, 83, 0.15);

    @include media-breakpoint-down(sm) {
      width: 232px;
      margin: 0 0 0 -30px;
    }
  }

  .image02 {
    box-shadow: 0 22px 35px 0 rgba(100, 94, 83, 0.4);

    @include media-breakpoint-down(sm) {
      position: relative;
      z-index: 2;
      width: 232px;
      margin: 30px auto;
    }

    @include media-breakpoint-up(md) {
      margin-top: 80px;
    }
  }

  .image03 {
    box-shadow: 0 22px 35px 0 rgba(100, 94, 83, 0.7);

    @include media-breakpoint-down(sm) {
      position: relative;
      z-index: 1;
      width: 232px;
      margin: 0 -30px 0 auto;
      text-align: right;
    }

    @include media-breakpoint-up(md) {
      margin: 160px 0 -160px;
    }
  }

  .image04 {
    width: 241px;
    margin: -55px 0 0 auto;
  }

  .liblary01 {
    @include swallow-bottom-right();

    @include media-breakpoint-down(sm) {
      bottom: -130px;
    }

    @include media-breakpoint-up(md) {
      bottom: -160px;
    }
  }
}
