.mv {
  position: relative;

  @include media-breakpoint-up(md) {
    background: url('/lp/assets/images/pages/mv_bg.jpg') no-repeat center /
      cover;
  }

  &__image {
    position: relative;
    z-index: 1;
    filter: blur(50px);
    box-shadow: 0 0 40px 0 rgba(68, 95, 113, 0.25);
    opacity: 0;
    transform: scale(1.05);

    @include media-breakpoint-up(md) {
      width: 1160px;
      margin: 0 auto -60px;
    }

    img {
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: auto;
      }
    }
  }

  &__conversion {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 40;
    transition: 0.3s;

    @include media-breakpoint-up(md) {
      right: 40px;
      bottom: 40px;
      display: block;
      width: auto;
      max-width: 850px;
      text-align: right;

      button {
        transition: transform 0.9s $ease-out-quart;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &.is-active &__image {
    filter: blur(0);
    opacity: 1;
    transition: 2s 0.6s $ease-out-cubic;
    transform: scale(1);
  }
}
