[data-scroll-active]:not([data-scroll-active='none']) {
  filter: blur(10px);
  opacity: 0;
  transform: translateY(20px);

  @include media-breakpoint-up(md) {
    transform: translateY(40px);
  }

  &.is-active {
    filter: blur(0);
    opacity: 1;
    transition: 1s $ease-out-quint, transform 2s $ease-out-expo;
    transform: translateY(0);
  }
}
