.sec-purchase {
  position: relative;
  padding: 80px 0 25px;
  background: url(/lp/assets/images/pages/sec_purchase_bg.jpg) center/cover;

  @include media-breakpoint-up(md) {
    padding: 150px 0 200px;
    background: url(/lp/assets/images/pages/sec_purchase_bg_md.jpg) center/cover;
  }

  .liblary01 {
    @include swallow-top-right();
  }

  .l-container {
    @include media-breakpoint-down(sm) {
      width: 375px;
    }
  }

  &__head {
    margin-bottom: 30px;
    text-align: center;
  }

  .product {
    position: relative;

    @include media-breakpoint-down(sm) {
      padding-bottom: 173px;
    }

    &--01 {
      text-align: center;

      @include media-breakpoint-down(sm) {
        margin-bottom: 100px;
      }

      @include media-breakpoint-up(md) {
        margin-bottom: 150px;
      }
    }

    &--02 {
      @include media-breakpoint-down(sm) {
        padding-bottom: 132px;
      }
    }
  }

  .btn {
    position: absolute;

    @include media-breakpoint-up(md) {
      display: block;
      transition: 0.3s;

      &:hover {
        opacity: 0.9;
      }
    }

    &--01 {
      right: 0;

      @include media-breakpoint-down(sm) {
        bottom: 0;
        left: 0;
        margin: auto;
      }

      @include media-breakpoint-up(md) {
        right: -15px;
        bottom: 40px;
      }
    }

    &--02 {
      @include media-breakpoint-down(sm) {
        right: 50%;
        bottom: 0;
        transform: translate(50%, 0);
      }

      @include media-breakpoint-up(md) {
        right: 55px;
        bottom: 100px;
      }
    }
  }
}

.product-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  visibility: hidden;
  background: rgba(#000, 0.8);
  opacity: 0;

  &.is-active {
    visibility: visible;
    opacity: 1;
  }
}

.modal-wrap {
  position: relative;
  max-width: 1000px;
  height: calc(100% - 60px);
  margin: 0 auto;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  overflow-y: scroll;
  visibility: hidden;
  background-color: #fff;
  opacity: 0;

  &.is-active {
    visibility: visible;
    opacity: 1;
  }
}

.modal table {
  margin-top: 12px;
  margin-bottom: 24px;
  border-collapse: collapse;

  th,
  td {
    padding: 8px;
    text-align: left;
    border: 1px solid #000;
  }

  th {
    width: 100px;
    font-weight: 400;
    color: #49b1dd;
  }

  td {
    span {
      color: #49b1dd;
    }
  }
}

.seibun {
  display: flex;

  .caution {
    font-size: 14px;
    text-align: left;
  }

  .left {
    width: 40%;

    table {
      width: 100%;
    }
  }

  .right {
    width: 60%;
    padding-left: 50px;
    text-align: left;
  }
}

.modal-lead {
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.9;
  color: #393333;
  letter-spacing: 0.01em;
}

.modal-close {
  $this: #{&};

  position: absolute;
  top: 0;
  right: 9px;
  width: 56px;
  height: 56px;

  &__item {
    position: absolute;
    top: 25px;
    left: 50%;
    width: 29px;
    height: 1px;
    margin-left: -14px;
    background-color: #fff;

    &--01 {
      @extend #{$this}__item;

      transform: rotate(45deg);
    }

    &--02 {
      @extend #{$this}__item;

      transform: rotate(-45deg);
    }
  }
}

.product-modal-btn {
  position: absolute;

  @include media-breakpoint-down(sm) {
    right: 50%;
    bottom: 125px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 315px;
    transform: translate(50%, 0);
  }

  @include media-breakpoint-up(md) {
    right: calc(50% - 475px);
    bottom: calc(50% - 100px);
  }
}

.caution-txt {
  margin: 60px 0 0 30px;
}
