.sec-faq {
  position: relative;
  padding: 109px 0 95px;
  background-image: url('/lp/assets/images/pages/sec_faq_bg_md.jpg');
  background-position: center;
  background-size: cover;

  @include media-breakpoint-up(md) {
    padding: 170px 0 200px;
  }

  &__heading {
    margin-bottom: 40px;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin-bottom: 68px;
    }
  }

  .accordion {
    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__head {
      position: relative;
    }

    &__content {
      overflow: hidden;
    }
  }

  .accordion-trigger {
    position: relative;
    width: 100%;
    padding: 15px 50px 15px 15px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-align: left;
    letter-spacing: 0.08em;
    background-color: #beb08a;

    @include media-breakpoint-up(md) {
      padding: 30px 30px 33px 63px;
      font-size: 20px;
    }

    &__txt {
      position: relative;
      padding-left: 25px;

      @include media-breakpoint-up(md) {
        padding-left: 47px;
      }

      &::after {
        position: absolute;
        top: 2.5px;
        left: 0;
        width: 16px;
        height: 15px;
        content: '';
        background-image: url(/lp/assets/images/pages/question01.png);
        background-size: contain;

        @include media-breakpoint-up(md) {
          top: 5px;
          width: 25px;
          height: 22px;
          background-image: url(/lp/assets/images/pages/question01_md.png);
        }
      }
    }

    &__btn {
      position: absolute;
      top: 0;
      right: 20px;
      bottom: 0;
      width: 10px;
      height: 10px;
      margin: auto;

      @include media-breakpoint-up(md) {
        right: 40px;
        width: 20px;
        height: 20px;
      }

      span {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 1px;
        background-color: #fff;
        transform: translate(0, 50%);

        &::after {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          margin: auto;
          content: '';
          background-color: #fff;
          transition: transform 0.2s;
          transform: rotate(90deg);
        }
      }
    }

    &[aria-expanded='true'] .accordion-trigger__btn span::after {
      transform: rotate(0);
    }
  }

  .accordion-answer {
    padding: 15px 15px 17px 15px;
    background-color: #fff;

    @include media-breakpoint-up(md) {
      padding: 43px 63px 38px 63px;
    }

    &__txt {
      position: relative;
      padding-left: 25px;
      font-size: 13px;
      line-height: 2.1;
      letter-spacing: 0.08em;

      @include media-breakpoint-up(md) {
        padding-left: 47px;
        font-size: 16px;
      }

      &::after {
        position: absolute;
        top: 6px;
        left: 0;
        width: 17px;
        height: 13px;
        content: '';
        background-image: url(/lp/assets/images/pages/answer01.png);
        background-size: contain;

        @include media-breakpoint-up(md) {
          top: 4px;
          width: 27px;
          height: 20px;
          background-image: url(/lp/assets/images/pages/answer01_md.png);
        }
      }
    }
  }

  .liblary01 {
    @include swallow-bottom-left();
  }
}
