.sec-about {
  position: relative;
  padding: 65px 0 80px;
  background: url('/lp/assets/images/pages/about_bg.jpg') no-repeat center /
    cover;

  @include media-breakpoint-up(md) {
    padding: 180px 0;
    background-image: url('/lp/assets/images/pages/about_bg_md.jpg');
  }

  &__heading {
    margin-bottom: 88px;
    text-align: center;
  }

  .story-section {
    @include media-breakpoint-up(md) {
      display: flex;
    }

    &__image img {
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: auto;
      }
    }

    &__content {
      width: 315px;
      margin: 0 auto;

      @include media-breakpoint-up(md) {
        width: auto;
        margin: 0;
      }
    }

    .title {
      position: relative;
      padding-top: 45px;
      margin-bottom: 28px;

      @include media-breakpoint-up(md) {
        padding-top: 52px;
        margin-bottom: 48px;
      }

      &--01 {
        &::after {
          top: 0;
          left: -20px;
          width: 108px;
          height: 50px;
          background-image: url(/lp/assets/images/pages/title_acc01.png);

          @include media-breakpoint-up(md) {
            left: -45px;
            width: 169px;
            height: 79px;
            background-image: url(/lp/assets/images/pages/title_acc01_md.png);
          }
        }
      }

      &--02 {
        &::after {
          top: 0;
          left: -20px;
          width: 132px;
          height: 39px;
          background-image: url(/lp/assets/images/pages/title_acc02.png);

          @include media-breakpoint-up(md) {
            top: 0;
            left: -45px;
            width: 209px;
            height: 63px;
            background-image: url(/lp/assets/images/pages/title_acc02_md.png);
          }
        }
      }

      &::after {
        position: absolute;
        content: '';
        background-size: contain;

        @include media-breakpoint-up(md) {
          top: -20px;
          left: -45px;
        }
      }
    }

    .text {
      margin-bottom: 34px;

      @include media-breakpoint-up(md) {
        margin-bottom: 50px;
      }
    }
  }

  .story-section--01 {
    @include media-breakpoint-up(md) {
      flex-direction: row-reverse;
    }

    .story-section__image {
      width: 82.5%;
      margin: 0 0 40px -30px;

      @include media-breakpoint-up(md) {
        width: auto;
        margin: 0 -100px 0 auto;
      }
    }
  }

  .story-section--02 {
    @include media-breakpoint-up(md) {
      margin-top: 100px;
    }

    .story-section__image {
      width: 77.77%;
      margin: 0 0 35px auto;

      @include media-breakpoint-up(md) {
        width: auto;
        margin: 0 70px 0 0;
      }
    }
  }

  .liblary01 {
    @include swallow-bottom-right();
  }
}
