.sec-flow {
  position: relative;
  padding: 190px 0 100px;
  background: #fff;

  @include media-breakpoint-up(md) {
    padding: 200px 0;
  }

  &__heading {
    position: relative;
    z-index: 0;
    margin-bottom: 48px;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin-bottom: 85px;
    }

    &::before {
      position: absolute;
      top: -48px;
      left: -18px;
      z-index: -1;
      width: 145px;
      height: 69px;
      content: '';
      background: url('/lp/assets/images/pages/flow_heading_deco.png') no-repeat
        center / contain;

      @include media-breakpoint-up(md) {
        top: -82px;
        left: calc(50% - 430px);
        width: 290px;
        height: 137px;
        background-image: url('/lp/assets/images/pages/flow_heading_deco_md.png');
      }
    }
  }

  .flow-list {
    margin-bottom: -40px;

    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -80px 0 0;
    }

    &__item {
      margin-bottom: 40px;

      @include media-breakpoint-up(md) {
        width: 540px;
        margin: 70px 80px 0 0;

        &:nth-child(even) {
          margin-top: 150px;
          transition-delay: 0.3s;
        }
      }
    }

    .image {
      text-align: right;
    }

    .text {
      position: relative;
      margin: -30px 20px 0 0;
      box-shadow: 0 20px 20px 0 rgba(137, 188, 205, 0.15);

      @include media-breakpoint-up(md) {
        margin: -60px 60px 0 -60px;
        box-shadow: 0 22px 35px 0 rgba(152, 138, 104, 0.2);
      }
    }

    .text-txt {
      position: absolute;
      right: 0;
      bottom: 30px;
      left: 0;
      padding: 0 25px;
      margin: auto;
      font-size: 12px;
      line-height: 2.25;
      color: #4e4954;
      letter-spacing: 0.08em;

      @include media-breakpoint-up(md) {
        padding: 0 60px;
        font-size: 16px;
      }

      &--01 {
        bottom: 56px;

        @include media-breakpoint-up(md) {
          bottom: 71px;
        }
      }

      &--02 {
        bottom: 54px;

        @include media-breakpoint-up(md) {
          bottom: 100px;
        }
      }

      &--03 {
        bottom: 29px;

        @include media-breakpoint-up(md) {
          bottom: 97px;
        }
      }

      &--04 {
        bottom: 53px;

        @include media-breakpoint-up(md) {
          bottom: 75px;
        }
      }

      &--05 {
        bottom: 30px;

        @include media-breakpoint-up(md) {
          bottom: 68px;
        }
      }

      &--06 {
        bottom: 30px;

        @include media-breakpoint-up(md) {
          bottom: 112px;
        }
      }
    }
  }

  .liblary01 {
    top: 1570px;

    @include media-breakpoint-up(md) {
      top: 1100px;
    }
  }

  .liblary02 {
    top: 2640px;

    @include media-breakpoint-up(md) {
      top: calc(50% + 430px);
    }
  }

  .liblary03 {
    @include swallow-bottom-left();
  }
}
