.sec-conversion {
  padding: 80px 0 100px;
  background: url('/lp/assets/images/pages/conversion_bg.jpg') no-repeat center /
    cover;

  @include media-breakpoint-up(md) {
    padding: 120px 0 20px;
    background-image: url('/lp/assets/images/pages/conversion_bg_md.jpg');
  }

  .l-container {
    position: relative;
  }

  .copy {
    margin: 0 -30px 28px;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin-bottom: 15px;
    }
  }

  .product {
    margin: 0 -30px 25px;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  .button {
    @include media-breakpoint-up(md) {
      position: absolute;
      right: 0;
      bottom: 115px;

      a {
        display: block;
        transition: 0.3s;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}
