.sec-government {
  position: relative;

  .liblary01 {
    @include swallow-bottom-right();
  }

  .image {
    img {
      width: 100%;
      height: auto;

      @include media-breakpoint-up(md) {
        position: relative;
        left: calc(50% - 960px);
        width: auto;
      }
    }
  }

  + .sec-conversion {
    padding-top: 95px;

    @include media-breakpoint-up(md) {
      padding-top: 160px;
    }
  }
}
