.sec-poem {
  position: relative;
  z-index: 0;
  padding: 0 0 68px;
  text-align: center;
  background: url('/lp/assets/images/pages/poem_bg.jpg') no-repeat center /
    cover;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    height: 780px;
    padding: 0;
    text-align: left;
    background-image: url('/lp/assets/images/pages/poem_bg_md.jpg');
  }

  &::before {
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 20px;
    left: 0;
    z-index: -1;
    content: '';
    border: solid #a48a47;
    border-width: 1px 0;

    @include media-breakpoint-up(md) {
      top: 15px;
      bottom: 15px;
    }
  }

  .l-container {
    @include media-breakpoint-up(md) {
      padding: 0 90px;
    }
  }

  .image {
    margin: 0 -30px 55px;

    @include media-breakpoint-up(md) {
      position: absolute;
      top: -170px;
      left: calc(50% + 215px);
    }

    img {
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: auto;
        margin-top: -34px;
      }
    }
  }

  .heading {
    position: relative;
    z-index: 0;
    margin-bottom: 25px;

    @include media-breakpoint-up(md) {
      margin-bottom: 70px;
    }

    .deco {
      position: absolute;
      top: -40px;
      left: -30px;
      z-index: -1;

      @include media-breakpoint-up(md) {
        top: -110px;
        left: -110px;
      }
    }
  }

  .liblary01 {
    @include swallow-top-right();

    @include media-breakpoint-down(sm) {
      top: 40px;
    }
  }
}
