.sec-ingredient {
  position: relative;
  padding: 100px 0 70px;
  text-align: center;
  background-image: url('/lp/assets/images/pages/ingredient_bg_top.png'),
    url('/lp/assets/images/pages/ingredient_bg_bottom.png'),
    linear-gradient(to bottom, #fcfcfc, #faf9f8);
  background-position: center top, center bottom, 0;
  background-size: 100% auto;

  @include media-breakpoint-up(md) {
    padding: 180px 0 200px;
    background-image: url('/lp/assets/images/pages/ingredient_bg_top_md.png'),
      url('/lp/assets/images/pages/ingredient_bg_bottom_md.png'),
      linear-gradient(to bottom, #fcfcfc, #faf9f8);
  }

  &__heading {
    position: relative;
    margin-bottom: 40px;

    @include media-breakpoint-up(md) {
      position: relative;
      margin-bottom: 82px;

      &::before {
        position: absolute;
        top: -117px;
        left: calc(50% - 413px);
        width: 443px;
        height: 169px;
        content: '';
        background: url('/lp/assets/images/pages/ingredient_heading_deco.png');
      }
    }

    &::after {
      @include media-breakpoint-down(sm) {
        position: absolute;
        top: -65px;
        left: -40px;
        width: 222px;
        height: 85px;
        content: '';
        background: url(/lp/assets/images/pages/ingredient_accessory.png)
          center/contain;
      }
    }
  }

  .lead-image {
    margin: 0 -30px 35px;

    @include media-breakpoint-up(md) {
      margin-bottom: 48px;
    }
  }

  .lead-text {
    margin: 0 -30px;
  }

  .ingredient-list {
    @include media-breakpoint-up(md) {
      margin-top: 100px;
    }

    &__item {
      margin-top: 50px;
      box-shadow: 0 15px 25px 0 rgba(#e2e2dd, 0.9);

      @include media-breakpoint-up(md) {
        margin-top: 60px;
        box-shadow: 0 30px 50px 0 rgba(#e2e2dd, 0.9);
      }
    }

    &__wrapper {
      @include media-breakpoint-up(md) {
        padding: 204px 60px 66px 73px;
      }

      &--01 {
        @include media-breakpoint-up(md) {
          height: 764px;
          background: url(/lp/assets/images/pages/ingredient_img01_md.png)
            center/contain;
        }
      }

      &--02 {
        @include media-breakpoint-up(md) {
          height: 842px;
          background: url(/lp/assets/images/pages/ingredient_img02_md.png)
            center/contain;
        }
      }

      &--03 {
        @include media-breakpoint-up(md) {
          height: 772px;
          background: url(/lp/assets/images/pages/ingredient_img03_md.png)
            center/contain;
        }
      }
    }
  }

  .ingredient-article {
    position: relative;
    z-index: 0;
    background: linear-gradient(to right, #c8a75e, #a48a47);

    &::before {
      position: absolute;
      top: 3px;
      right: 3px;
      bottom: 3px;
      left: 3px;
      z-index: -1;
      content: '';
      background: #fff;

      @include media-breakpoint-up(md) {
        top: 6px;
        right: 6px;
        bottom: 6px;
        left: 6px;
      }
    }

    &__heading {
      img {
        width: 100%;
        height: auto;
      }
    }

    &__content {
      position: relative;
      padding: 35px 20px 43px;

      @include media-breakpoint-up(md) {
        padding: 45px 60px 60px 480px;
      }

      .text {
        font-size: 13px;
        line-height: 2.15;
        color: #4e4954;
        text-align: left;

        @include media-breakpoint-up(md) {
          font-size: 16px;
          line-height: 2.25;
        }

        &__layout {
          font-weight: 700;
          background: linear-gradient(transparent 60%, #e0f2f5 60%);
        }
      }

      .image {
        margin-top: -5px;

        @include media-breakpoint-up(md) {
          position: absolute;
          top: 50px;
          left: 77px;
          margin: 0;
        }
      }

      .point {
        margin: 35px -20px 0;

        @include media-breakpoint-up(md) {
          margin: 45px 0 0;
        }
      }
    }
  }

  .liblary01 {
    @include swallow-top-left();
  }

  .liblary02 {
    @include swallow-middle-right();

    @include media-breakpoint-down(sm) {
      top: 1800px;
      transform: none;
    }
  }

  .liblary03 {
    @include swallow-bottom-left();

    @include media-breakpoint-down(sm) {
      bottom: 15px;
    }
  }
}

.ingredient-wrapper {
  @include media-breakpoint-up(md) {
    display: flex;
    margin: 47px -35px 0;
  }

  &__part01 {
    @include media-breakpoint-up(md) {
      padding: 0 35px;
    }
  }

  &__part02 {
    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 42px;
      right: 0;
      left: 0;
      margin: auto;
    }

    @include media-breakpoint-up(md) {
      flex: 1;
      padding: 0 35px;
    }

    &.-item01 {
      @include media-breakpoint-down(sm) {
        padding: 121px 25px 0;
      }
    }

    &.-item02 {
      @include media-breakpoint-down(sm) {
        padding: 154px 25px 0;
      }
    }

    &.-item03 {
      @include media-breakpoint-down(sm) {
        padding: 149px 25px 0;
      }
    }
  }
}

.ingredient-heading {
  position: relative;

  &::after {
    position: absolute;
    right: 0;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 0;
    margin: auto;
    content: '';
    background-image: linear-gradient(
      -150deg,
      rgb(164, 138, 71) 0%,
      rgb(200, 167, 94) 100%
    );
    border-color: transparent transparent transparent transparent;
    border-style: solid;
    border-width: 15px 16px 0 16px;
  }
}
