.sec-schedule {
  position: relative;

  &__before,
  &__after {
    position: relative;
  }

  &__before {
    padding: 100px 0 42px;
    background: url('/lp/assets/images/pages/schedule_bg.jpg') no-repeat center
      bottom / cover;

    @include media-breakpoint-up(md) {
      position: relative;
      z-index: 1;
      padding: 180px 0 10px;
      background: none;

      &::before {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: -1;
        width: 1920px;
        height: 1514px;
        content: '';
        background: url('/lp/assets/images/pages/schedule_bg_md.png');
        transform: translateX(-50%);
      }
    }

    .liblary01 {
      @include swallow-top-right();
    }

    .liblary02 {
      @include swallow-bottom-left();

      @include media-breakpoint-down(sm) {
        bottom: 18px;
      }
    }
  }

  &__after {
    .liblary01 {
      @include swallow-bottom-right();
    }

    .image {
      img {
        @include media-breakpoint-down(sm) {
          width: 100%;
          height: auto;
        }

        @include media-breakpoint-up(md) {
          position: relative;
          left: calc(50% - 960px);
        }
      }
    }
  }

  &__heading {
    position: relative;
    z-index: 0;
    margin-bottom: 45px;

    @include media-breakpoint-up(md) {
      margin-bottom: 115px;
      text-align: center;
    }

    &::before {
      position: absolute;
      top: -57px;
      left: -30px;
      z-index: -1;
      width: 182px;
      height: 73px;
      content: '';
      background: url('/lp/assets/images/pages/schedule_heading_deco.png')
        no-repeat center / contain;

      @include media-breakpoint-up(md) {
        top: -90px;
        left: calc(50% - 486px);
        width: 348px;
        height: 174px;
        background-image: url('/lp/assets/images/pages/schedule_heading_deco_md.png');
      }
    }
  }

  .grid {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .box {
    margin-bottom: 30px;
    box-shadow: 0 20px 20px 0 rgba(137, 188, 205, 0.15);

    @include media-breakpoint-up(md) {
      margin: 0;
      box-shadow: 0 40px 40px 0 rgba(137, 188, 205, 0.15);
    }
  }

  .week-list {
    @include media-breakpoint-up(md) {
      margin-bottom: -60px;
    }

    &__item {
      margin-top: 30px;

      @include media-breakpoint-up(md) {
        margin: 0 0 60px;

        img {
          margin-top: -30px;
        }
      }
    }
  }
}
