.sec-recommend {
  position: relative;
  padding: 100px 0;
  background: linear-gradient(to bottom, #fff, #dadee1 66%);

  @include media-breakpoint-up(md) {
    padding: 184px 0 280px;
  }

  &__heading {
    margin-bottom: 40px;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin-bottom: 60px;
    }
  }

  .text {
    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      margin-bottom: 70px;
      text-align: center;
    }
  }

  .recommend-list {
    margin-top: 75px;

    @include media-breakpoint-up(md) {
      margin: 0 0 -80px;
    }

    &__item {
      position: relative;
      text-align: center;

      @include media-breakpoint-down(sm) {
        margin-top: 70px;
      }

      @include media-breakpoint-up(md) {
        margin-bottom: 80px;

        img {
          box-shadow: 0 30px 50px 0 rgba(136, 145, 154, 0.3);
        }
      }

      &:first-child {
        @include media-breakpoint-down(sm) {
          margin-top: 0;
        }
      }
    }
  }

  .liblary01 {
    @include swallow-top-left();
  }

  .liblary02 {
    @include swallow-middle-right();

    @include media-breakpoint-down(sm) {
      top: 1968px;
    }
  }

  .liblary03 {
    bottom: 50px;

    @include media-breakpoint-up(md) {
      bottom: 160px;
    }
  }
}
