.sec-published {
  position: relative;
  padding: 100px 0 140px;
  background: url('/lp/assets/images/pages/published_bg.jpg') no-repeat center /
    cover;

  @include media-breakpoint-up(md) {
    padding: 200px 0 280px;
    background-image: url('/lp/assets/images/pages/published_bg_md.jpg');
  }

  &__heading {
    position: relative;
    z-index: 0;
    margin-bottom: 45px;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin-bottom: 120px;
    }

    &::before {
      position: absolute;
      top: -41px;
      left: calc(50% - 157.5px);
      z-index: -1;
      width: 135.5px;
      height: 76px;
      content: '';
      background: url('/lp/assets/images/pages/published_heading_deco.png')
        no-repeat center / contain;

      @include media-breakpoint-up(md) {
        top: -15px;
        left: calc(50% - 386px);
        width: 271px;
        height: 152px;
        background-image: url('/lp/assets/images/pages/published_heading_deco_md.png');
      }
    }
  }

  .published-list {
    &__item {
      margin-top: 43px;

      img {
        @include media-breakpoint-down(sm) {
          width: 100%;
          height: auto;
        }
      }

      &:nth-child(odd) {
        @include media-breakpoint-up(md) {
          text-align: right;
        }
      }

      &--other {
        margin-top: 30px;
      }
    }
  }

  .sec-instagram {
    position: relative;
    margin-top: 120px;

    @include media-breakpoint-up(md) {
      margin-top: 170px;
    }

    &__heading {
      margin-bottom: 30px;
      text-align: center;

      @include media-breakpoint-down(sm) {
        margin: 0 -11px 129px;
      }

      @include media-breakpoint-up(md) {
        margin-bottom: 100px;
      }

      &::before {
        position: absolute;
        top: -49px;
        left: calc(50% - 175px);
        z-index: -1;
        width: 141px;
        height: 82px;
        content: '';
        background: url('/lp/assets/images/pages/sns_deco.png') no-repeat center /
          contain;

        @include media-breakpoint-up(md) {
          top: -15px;
          left: calc(50% - 386px);
          width: 282px;
          height: 163px;
          background-image: url('/lp/assets/images/pages/sns_deco_md.png');
        }
      }
    }

    .balloon {
      position: absolute;
      top: 140px;
      right: -30px;

      @include media-breakpoint-up(md) {
        top: 250px;
        right: calc(50% - 581px);
      }
    }

    .instagram-list {
      @include media-breakpoint-up(md) {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-top: 80px;
        margin: 0 -8px -8px 0;
      }

      &__item {
        margin-top: 15px;
        box-shadow: 0 15px 10px 0 rgba(#dfb2e6, 0.15);

        @include media-breakpoint-down(sm) {
          &:nth-last-child(-n + 3) {
            display: none;
          }
        }

        @include media-breakpoint-up(md) {
          position: relative;
          margin: 0 8px 8px 0;
          box-shadow: 0 30px 20px 0 rgba(#dfb2e6, 0.15);

          &:nth-child(odd) {
            top: -54px;
          }

          &:nth-child(6) {
            margin-top: -54px;
          }
        }
      }
    }
  }

  .liblary01 {
    @include swallow-top-right();
  }

  .liblary02 {
    @include swallow-middle-left();

    @include media-breakpoint-down(sm) {
      top: 1543px;
    }
  }

  .liblary03 {
    @include swallow-bottom-right();
  }
}
