.sec-reason {
  position: relative;
  padding: 100px 0;
  background: url('/lp/assets/images/pages/reason_bg.jpg') repeat-y center /
    cover;

  @include media-breakpoint-up(md) {
    padding: 180px 0 200px;
    background-image: url('/lp/assets/images/pages/reason_bg_md.jpg');
  }

  &__heading {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    text-align: center;

    @include media-breakpoint-up(md) {
      position: relative;
      margin-bottom: 145px;

      &::before {
        position: absolute;
        top: -67px;
        left: calc(50% - 467px);
        z-index: -1;
        width: 300px;
        height: 95px;
        content: '';
        background: url('/lp/assets/images/pages/reason_heading_deco.png');
      }
    }

    &::after {
      @include media-breakpoint-down(sm) {
        position: absolute;
        top: -39px;
        left: -20px;
        z-index: -1;
        width: 149px;
        height: 47px;
        content: '';
        background: url(/lp/assets/images/pages/reason_accessory.png)
          center/contain;
      }
    }
  }

  .reason-item {
    margin-top: 50px;

    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 100px;

      &:nth-of-type(even) {
        flex-direction: row-reverse;
      }
    }

    &__content {
      @include media-breakpoint-up(md) {
        width: 50%;
      }

      .text {
        font-size: 14px;
        line-height: 2.25;
        color: #4e4954;
        letter-spacing: 0.05em;

        @include media-breakpoint-up(md) {
          font-size: 16px;
        }

        &__deco {
          font-weight: 700;
          background: linear-gradient(transparent 60%, #d4eaf5 60%);
        }
      }

      &--right {
        @include media-breakpoint-up(md) {
          padding-left: 60px;
        }
      }

      &--left {
        @include media-breakpoint-up(md) {
          padding-right: 60px;
        }
      }
    }

    &__image {
      margin-bottom: 35px;
      box-shadow: 0 20px 20px 0 rgba(137, 188, 205, 0.15);

      @include media-breakpoint-up(md) {
        width: 50%;
        margin: 0;
        box-shadow: 0 40px 40px 0 rgba(137, 188, 205, 0.15);
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .title {
      margin-bottom: 30px;

      @include media-breakpoint-up(md) {
        margin-bottom: 45px;
      }
    }
  }

  .liblary01 {
    @include swallow-top-right();
  }

  .liblary02 {
    @include swallow-middle-left();

    @include media-breakpoint-down(sm) {
      top: 1346px;
      transform: none;
    }
  }

  .liblary03 {
    @include swallow-bottom-right();
  }
}
