.sec-voice {
  position: relative;
  padding: 100px 0 90px;
  background: url('/lp/assets/images/pages/voice_bg.jpg') no-repeat center /
    cover;

  @include media-breakpoint-up(md) {
    padding: 180px 0 120px;
    background-image: url('/lp/assets/images/pages/voice_bg_md.jpg');
  }

  &__heading {
    position: relative;
    z-index: 0;
    margin-bottom: 35px;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin-bottom: 15px;
    }
  }

  .image {
    img {
      margin-left: -30px;

      @include media-breakpoint-up(md) {
        margin-left: -70px;
      }
    }
  }

  .liblary01 {
    @include swallow-top-left();
  }

  .liblary02 {
    @include swallow-bottom-right();
  }
}
