.sec-band {
  position: relative;
  width: 100%;
  max-width: 100%;
  background: url(/lp/assets/images/pages/sec_band.jpg) center/cover;

  @include media-breakpoint-up(md) {
    background: url(/lp/assets/images/pages/sec_band_md.jpg) center/cover;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    padding-top: 667px;

    @include media-breakpoint-up(md) {
      padding-top: 41.67%;
    }
  }

  &__txt {
    position: absolute;
    margin: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    @include media-breakpoint-down(sm) {
      top: 102px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    @include media-breakpoint-up(md) {
      top: 49%;
      right: calc(50% - 251px);
      transform: translate(50%, -50%);
    }
  }
}
