<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>天然〈手摘み〉のつばめの巣|【公式】RIARASA（リアラーサ）</title>
  <meta name="description"
    content="RIARASA（リアラーサ）は純度100%の天然〈手摘み〉のつばめの巣ブランド。医学界が最も注目している栄養素を含んだ美容健康食品クレオパトラの朝食を日本初のつばめの巣協会入会企業として、確かな品質でご提供。">
  <meta name="keywords" content="アナツバメ,ツバメの巣,美容健康食品,RIARASA" />
  <meta property="og:title" content="天然〈手摘み〉のつばめの巣|【公式】RIARASA（リアラーサ）">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://www.riarasa.com/lp/assets/images/pages/ogp.jpg">
  <meta property="og:url" content="https://www.riarasa.com/lp/">
  <meta property="og:description"
    content="RIARASA（リアラーサ）は純度100%の天然〈手摘み〉のつばめの巣ブランド。医学界が最も注目している栄養素を含んだ美容健康食品クレオパトラの朝食を日本初のつばめの巣協会入会企業として、確かな品質でご提供。">
  <meta name="twitter:card" content="summary">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include('/gtm-head') %>

  <link rel="stylesheet" href="/lp/assets/styles/style.css">
</head>

<body>

  <%- include('/gtm-body') %>

  <div class="l-page">

    <header class="l-header">
      <h1 class="l-header__logo">
        <picture>
          <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/header_logo_md.png">
          <img src="/lp/assets/images/pages/header_logo.png" alt="RIA RASA 手摘み”天然”つばめの巣" width="112.5" height="51">
        </picture>
      </h1>
    </header><!-- .l-header -->

    <main class="l-main">
      <div class="mv" data-scroll-active="none" id="js-mv">
        <div class="mv__image">
          <picture>
            <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/mv_image_md.jpg">
            <img src="/lp/assets/images/pages/mv_image.jpg" alt="安心という当たり前のことにこだわり抜いたつばめの巣。">
          </picture>
        </div>
        <div class="mv__conversion" id="js-conversion-button">
          <button data-scroll="#Conversion" id="FD_CV">
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/mv_conversion_md.png">
              <img src="/lp/assets/images/pages/mv_conversion.png" alt="ご購入はこちら" width="108.5" height="108">
            </picture>
          </button>
        </div>
      </div><!-- .mv -->

      <section class="sec-about">
        <div class="l-container">
          <h2 class="sec-about__heading" data-scroll-active>
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/about_heading_md.png">
              <img src="/lp/assets/images/pages/about_heading.png" alt="マレーシアの小さな島で、人々の健康を支えてきたつばめの巣" width="312" height="120.5">
            </picture>
          </h2>

          <div class="story-section story-section--01">
            <div class="story-section__image" data-scroll-active>
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/about_image01_md.jpg">
                <img src="/lp/assets/images/pages/about_image01.jpg" alt="" width="260" height="345">
              </picture>
            </div>
            <div class="story-section__content">
              <h3 class="title title--01" data-scroll-active>
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/about_title01_md.png">
                  <img src="/lp/assets/images/pages/about_title01.png" alt="" width="292.5" height="83">
                </picture>
              </h3>
              <p class="text" data-scroll-active>
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/about_text01_md.png">
                  <img src="/lp/assets/images/pages/about_text01.png" alt="" width="254.5" height="124">
                </picture>
              </p>
              <p class="text" data-scroll-active>
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/about_text02_md.png">
                  <img src="/lp/assets/images/pages/about_text02.png" alt="" width="311" height="292">
                </picture>
              </p>
              <p class="text" data-scroll-active>
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/about_text03_md.png">
                  <img src="/lp/assets/images/pages/about_text03.png" alt="" width="283.5" height="124.5">
                </picture>
              </p>
            </div>
          </div>

          <div class="story-section story-section--02">
            <div class="story-section__image" data-scroll-active>
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/about_image02_md.jpg">
                <img src="/lp/assets/images/pages/about_image02.jpg" alt="" width="245" height="183">
              </picture>
            </div>
            <div class="story-section__content">
              <h3 class="title title--02" data-scroll-active>
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/about_title02_md.png">
                  <img src="/lp/assets/images/pages/about_title02.png" alt="" width="185" height="128">
                </picture>
              </h3>
              <p class="text" data-scroll-active>
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/about_text04_md.png">
                  <img src="/lp/assets/images/pages/about_text04.png" alt="" width="277.5" height="124">
                </picture>
              </p>
              <p class="text" data-scroll-active>
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/about_text05_md.png">
                  <img src="/lp/assets/images/pages/about_text05.png" alt="" width="293" height="125">
                </picture>
              </p>
            </div>
          </div>
        </div><!-- .l-container -->

        <div class="liblary01 liblary--a c-liblary" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">A</p>
                <p class="word__text"><span class="main">アナツバメ</span><span class="sub">Swiftlets(英名)</span>
                </p>
              </div>
              <p class="text">アマツバメ目アマツバメ科アナツバメ族の総称。全長10～15㎝の小型の鳥で、主に南アジアに分布する。 唾液腺から分泌される粘着質の唾液を固めて巣を作ります。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
      </section><!-- .sec-about -->

      <div class="gap" data-scroll-active>
        <picture>
          <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/gap_image_md.jpg">
          <img src="/lp/assets/images/pages/gap_image.jpg" alt="">
        </picture>
      </div>

      <%- include('/conversion', { idValue: "C_CV01" }) %>


      <section class="sec-ingredient">
        <div class="liblary01 liblary--b c-liblary c-liblary--reverse" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt=""
              width="24.5" height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">B</p>
                <p class="word__text">
                  <span class="main">ボルネオ島</span>
                  <span class="sub">Borneo Island</span>
                </p>
              </div>
              <p class="text">マレーシア、ブルネイ、インドネシアの3カ国の領土で、日本の国土の約1.9倍。北部のマレーシアサバ州はアナツバメが生息する最大の生息地。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="liblary02 liblary--c c-liblary" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">C</p>
                <p class="word__text">
                  <span class="main">自然の一部</span>
                  <span class="sub">Cultivation</span>
                </p>
              </div>
              <p class="text">RIA RASAのつばめは、天然の野鳥。利益を得るための養鳥ではなく「安全で清潔な住まいを貸し出す」というスタンスでありのままの生態系に配慮しています。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="liblary03 liblary--d c-liblary c-liblary--reverse" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">D</p>
                <p class="word__text">
                  <span class="main">デリシャス</span>
                  <span class="sub">Delicious</span>
                </p>
              </div>
              <p class="text">BIO SUISSE認定の甜菜糖がふわっと甘い味わいです。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="l-container">
          <h2 class="sec-ingredient__heading" data-scroll-active>
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/ingredient_heading_md.png">
              <img src="/lp/assets/images/pages/ingredient_heading.png" alt="" width="315" height="123">
            </picture>
          </h2>
          <div class="lead-image" data-scroll-active>
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/ingredient_lead-image_md.png">
              <img src="/lp/assets/images/pages/ingredient_lead-image.png" alt="" width="339" height="155">
            </picture>
          </div>
          <p class="lead-text" data-scroll-active>
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/ingredient_lead-text_md.png">
              <img src="/lp/assets/images/pages/ingredient_lead-text.png" alt="" width="298" height="135">
            </picture>
          </p>

          <ul class="ingredient-list">

            <li class="ingredient-list__item" data-scroll-active>
              <div class="ingredient-article">
                <h3 class="ingredient-article__heading">
                  <picture>
                    <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/ingredient_title01_md.png">
                    <img src="/lp/assets/images/pages/ingredient_title01.png" alt="">
                  </picture>
                </h3>
                <div class="ingredient-article__content">
                  <p class="text">
                    今、医学界が最も注目している糖鎖とは<span class="text__layout">細胞と細胞を正しく「繋げる」アンテナ。</span>私たちの体は無数の細胞からできていますが、その繋がりが狂ってしまうことで病気や老化などが引き起こされます。つまり、<span class="text__layout">欠けた糖鎖を補えば細胞が正しく繋がり、それが免疫力を高める</span>ことに繋がります。糖鎖は8つの栄養素で構成されており、そのうち<span class="text__layout">6種を含んでいるのがつばめの巣。</span>これほどの糖鎖を含む食品は他にはなく、奇跡の食べ物と呼ばれる所以です。
                  </p>
                  <div class="image">
                    <picture>
                      <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/ingredient_image01_md.png">
                      <img src="/lp/assets/images/pages/ingredient_image01.png" alt="" width="269" height="326.5">
                    </picture>
                  </div>
                  <div class="point">
                    <picture>
                      <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/ingredient_point01_md.png">
                      <img src="/lp/assets/images/pages/ingredient_point01.png" alt="" width="293" height="286">
                    </picture>
                  </div>
                </div>
              </div><!-- .ingredient-article -->
            </li>

            <li class="ingredient-list__item" data-scroll-active>
              <div class="ingredient-article">
                <h3 class="ingredient-article__heading">
                  <picture>
                    <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/ingredient_title02_md.png">
                    <img src="/lp/assets/images/pages/ingredient_title02.png" alt="">
                  </picture>
                </h3>
                <div class="ingredient-article__content">
                  <p class="text">
                    シアル酸とは、細胞と細胞を繋ぐ糖鎖の末端に存在する酸性の糖。<span class="text__layout">外からの異物を素早く察知</span>してキャッチ→排出するよう指令を出したりします。<br>
                    つまり、これこそが<span class="text__layout">「免疫力を高める」ということ</span>。この、天然のポジティブ成分は人間の母乳や唾液にも含まれますが、つばめの巣には特に多く含まれることで有名で、<span class="text__layout">ローヤルゼリーの２００倍と言われています。</span>
                  </p>
                  <div class="image">
                    <picture>
                      <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/ingredient_image02_md.png">
                      <img src="/lp/assets/images/pages/ingredient_image02.png" alt="" width="268.5" height="311">
                    </picture>
                  </div>
                  <div class="point">
                    <picture>
                      <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/ingredient_point02_md.png">
                      <img src="/lp/assets/images/pages/ingredient_point02.png" alt="" width="293" height="282">
                    </picture>
                  </div>
                </div>
              </div><!-- .ingredient-article -->
            </li>

            <li class="ingredient-list__item" data-scroll-active>
              <div class="ingredient-article">
                <h3 class="ingredient-article__heading">
                  <picture>
                    <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/ingredient_title03_md.png">
                    <img src="/lp/assets/images/pages/ingredient_title03.png" alt="">
                  </picture>
                </h3>
                <div class="ingredient-article__content">
                  <p class="text">
                    肌の表面（表皮）に働きかけ、ターンオーバーを回復させるEGF作用と、内側（真皮）からコラーゲンで押し上げるFGF作用。つばめの巣にはこの2つの美肌成分が含まれ、肌の<span class="text__layout">内外からのWアプローチで相乗効果をもたらします。</span>ダメージを受けた古い肌は自然と剥がれ、弾力と<span class="text__layout">透明感のある新しいお肌へ。</span>
                  </p>
                  <div class="image">
                    <picture>
                      <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/ingredient_image03_md.png">
                      <img src="/lp/assets/images/pages/ingredient_image03.png" alt="" width="288.5" height="349">
                    </picture>
                  </div>
                  <div class="point">
                    <picture>
                      <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/ingredient_point03_md.png">
                      <img src="/lp/assets/images/pages/ingredient_point03.png" alt="" width="293" height="282">
                    </picture>
                  </div>
                </div>
              </div><!-- .ingredient-article -->
            </li>

          </ul>
        </div><!-- .l-container -->
      </section><!-- .sec-ingredient -->

      <section class="sec-poem">
        <div class="liblary01 liblary--e c-liblary c-liblary--reverse" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">E</p>
                <p class="word__text">
                  <span class="main">EGF</span>
                  <span class="sub">Epidermal Growth Factor</span>
                </p>
              </div>
              <p class="text">上皮細胞増殖(成長)因子。ヒトにもともと備わったタンパク質の一種で、肌表面で細胞を生まれ変わらせターンオーバーを促す。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="l-container">
          <div class="image" data-scroll-active>
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/poem_image_md.png">
              <img src="/lp/assets/images/pages/poem_image.png" alt="">
            </picture>
          </div>
          <h2 class="heading" data-scroll-active>
            <span class="main">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/poem_heading_md.png">
                <img src="/lp/assets/images/pages/poem_heading.png" alt="" width="230" height="55">
              </picture>
            </span>
            <span class="deco">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/poem_heading_deco_md.png">
                <img src="/lp/assets/images/pages/poem_heading_deco.png" alt="" width="166" height="83">
              </picture>
            </span>
          </h2>
          <p class="text" data-scroll-active>
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/poem_text_md.png">
              <img src="/lp/assets/images/pages/poem_text.png" alt="" width="280" height="124">
            </picture>
          </p>
        </div><!-- .l-container -->
      </section><!-- .sec-poem -->

      <section class="sec-reason">
        <div class="liblary01 liblary--f c-liblary" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">F</p>
                <p class="word__text">
                  <span class="main">FGF</span>
                  <span class="sub">Fibroblast Growth Factors</span>
                </p>
              </div>
              <p class="text">線維芽細胞増殖因子。ヒトにもともと備わったタンパク質の一種で、コラーゲンをつくる線維芽細胞に働きかけ若々しさを保つ。美容クリニックでの「FGF注入」などでも注目のアンチエイジング成分です。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="liblary02 liblary--g c-liblary c-liblary--reverse u-d-none u-d-md-block" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">G</p>
                <p class="word__text">
                  <span class="main">糖鎖</span>
                  <span class="sub">Glycan</span>
                </p>
              </div>
              <p class="text">
                細胞の周りに産毛のようについた受容体で、外からの細菌やウィルスを見分けて排出したり、細胞同士の正しい連携を結ぶアンテナ役。これが正しく作用すれば、体にとって必要なものを受容＝免疫力が上がり、自己免疫疾患や異常代謝などを改善します。
              </p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="liblary02 liblary--g c-liblary u-d-md-none" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">G</p>
                <p class="word__text">
                  <span class="main">糖鎖</span>
                  <span class="sub">Glycan</span>
                </p>
              </div>
              <p class="text">細胞の周りに産毛のようについた受容体で、外からの細菌やウィルスを見分けて排出したり、細胞同士の正しい連携を結ぶアンテナ役。これが正しく作用すれば、体にとって必要なものを受容＝免疫力が上がり、自己免疫疾患や異常代謝などを改善します。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="liblary03 liblary--h c-liblary" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">H</p>
                <p class="word__text">
                  <span class="main">安全性</span>
                  <span class="sub">HACCP</span>
                </p>
              </div>
              <p class="text">食品の安全を確保するための衛生管理の技術的手法として作られたハサップ(Hazard Analysis and Critical Control Point)。食品の製造、加工工程のあらゆる段階で発生するおそれのある微生物汚染などの危害を分析し、連続的に監視する衛生管理システム。国際食料農業機構と世界保健機構も採用している。
              </p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="l-container">
          <h2 class="sec-reason__heading" data-scroll-active>
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/reason_heading_md.png">
              <img src="/lp/assets/images/pages/reason_heading.png" alt="" width="315" height="165">
            </picture>
          </h2>

          <div class="reason-item">
            <div class="reason-item__image" data-scroll-active>
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/reason_image01_md.jpg">
                <img src="/lp/assets/images/pages/reason_image01.jpg" alt="">
              </picture>
            </div>
            <div class="reason-item__content reason-item__content--right">
              <h3 class="title" data-scroll-active>
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/reason_title01_md.png">
                  <img src="/lp/assets/images/pages/reason_title01.png" alt="" width="255.5" height="23.5">
                </picture>
              </h3>
              <p class="text" data-scroll-active>
                つばめの巣とはつばめの唾液を固めたもの。最高級と珍重されるマレーシア産アナツバメは日本で見かけるつばめと違って透明な唾液（唾液腺から出る分泌物）だけで巣を作り固めます。<span class="text__deco">空気中のものや羽根を巻き込まず、純度が高いのが特徴です。</span>
              </p>
            </div>
          </div>

          <div class="reason-item">
            <div class="reason-item__image" data-scroll-active>
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/reason_image02_md.jpg">
                <img src="/lp/assets/images/pages/reason_image02.jpg" alt="">
              </picture>
            </div>
            <div class="reason-item__content reason-item__content--left">
              <h3 class="title" data-scroll-active>
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/reason_title02_md.png">
                  <img src="/lp/assets/images/pages/reason_title02.png" alt="" width="225" height="58">
                </picture>
              </h3>
              <p class="text" data-scroll-active>
                体内から強く美しく輝く身体に効果的な成分をたっぷりと含みます。<br>ベッドは、子育てをするために雄のつばめが35日間かけて唾液を固め作られます。美容の面だけでなく、様々な大人の不調にアプローチします。
              </p>
            </div>
          </div>

          <div class="reason-item">
            <div class="reason-item__image" data-scroll-active>
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/reason_image03_md.jpg">
                <img src="/lp/assets/images/pages/reason_image03.jpg" alt="">
              </picture>
            </div>
            <div class="reason-item__content reason-item__content--right">
              <h3 class="title" data-scroll-active>
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/reason_title03_md.png">
                  <img src="/lp/assets/images/pages/reason_title03.png" alt="" width="295.5" height="59">
                </picture>
              </h3>
              <p class="text" data-scroll-active>
                アナツバメが赤ちゃんを守り育てるベッド、それがつばめの巣です。ベッドは、子育てをするために雄のつばめが35日間かけて唾液を固め作られます。使い終わった巣はそっと手摘みしその恩恵を今度は私たちがいただく。究極にエコビューティな食品です。RIA RASAはマングローブの深い森に囲まれた無人島にツバメ専用のお家を作りました。決して飼わない、飼育しない、虫さえも敵としない自然のまま。そこでできるつばめの巣は汚れがつきにくく、漂白の必要がありません。<span class="text__deco">自然の栄養素がぎゅっと詰まったまま、まるごとお届けします。</span>
              </p>
            </div>
          </div>

          <div class="reason-item">
            <div class="reason-item__image" data-scroll-active>
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/reason_image04_md.jpg">
                <img src="/lp/assets/images/pages/reason_image04.jpg" alt="">
              </picture>
            </div>
            <div class="reason-item__content reason-item__content--left">
              <h3 class="title" data-scroll-active>
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/reason_title04_md.png">
                  <img src="/lp/assets/images/pages/reason_title04.png" alt="" width="194" height="58.5">
                </picture>
              </h3>
              <p class="text" data-scroll-active>
                つばめの巣は、医薬同源をモットーとする<span class="text__deco">中国で1,000年以上前から愛されてきた食品です。</span>絶世の美女として知られる楊貴妃が永遠の若さと美しさを保つために欠かさなかったとも伝えられ、今も世界の健康美容に惜しみなく努力している方々の<span class="text__deco">パーフェクトフードとして注目を集めています。</span>
              </p>
            </div>
          </div>
        </div><!-- .l-container -->
      </section><!-- .sec-reason -->

      <%- include('/conversion', { idValue: "C_CV02" }) %>


      <section class="sec-published">
        <div class="liblary01 liblary--i c-liblary" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">I</p>
                <p class="word__text">
                  <span class="main">無人島</span>
                  <span class="sub">Island</span>
                </p>
              </div>
              <p class="text">RIA RASAは、暗く窮屈な洞窟でなく、自然豊かな無人島にバードハウスを建てました。ぽかぽかの太陽を浴びて、健康的に飛び回るつばめたちが今日も活躍しています。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="liblary02 liblary--j c-liblary c-liblary--reverse" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">J</p>
                <p class="word__text">
                  <span class="main">ジャングル</span>
                  <span class="sub">Jungle</span>
                </p>
              </div>
              <p class="text">バードハウスのある無人島は、周囲をマングローブに囲まれた肥沃な大地。ふかふかの土や風抜けなど、つばめにとってベストな条件が揃っています。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="liblary03 liblary--k c-liblary" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">K</p>
                <p class="word__text">
                  <span class="main">「ケイコ」</span>
                  <span class="sub">Keiko Narita</span>
                </p>
              </div>
              <p class="text">RIA RASA代表 成田圭子。「信念のある人にしか売らない」と伝統を守る スウィフトママに「ケイコ」と親しみを込めて呼ばれ、 日本での展開を唯一認められました。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="l-container">
          <h2 class="sec-published__heading" data-scroll-active>
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/published_heading_md.png">
              <img src="/lp/assets/images/pages/published_heading.png" alt="" width="310" height="177">
            </picture>
          </h2>

          <ul class="published-list">
            <li class="published-list__item" data-scroll-active>
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/published_article01_md.png">
                <img src="/lp/assets/images/pages/published_article01.png" alt="">
              </picture>
            </li>
            <li class="published-list__item" data-scroll-active>
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/published_article02_md.png">
                <img src="/lp/assets/images/pages/published_article02.png" alt="">
              </picture>
            </li>
            <li class="published-list__item" data-scroll-active>
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/published_article03_md.png">
                <img src="/lp/assets/images/pages/published_article03.png" alt="">
              </picture>
            </li>
            <li class="published-list__item published-list__item--other" data-scroll-active>
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/published_article_other_md.png">
                <img src="/lp/assets/images/pages/published_article_other.png" alt="">
              </picture>
            </li>
          </ul>

          <section class="sec-instagram">
            <h3 class="sec-instagram__heading" data-scroll-active>
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/instagram_heading_md.png">
                <img src="/lp/assets/images/pages/instagram_heading.png" alt="" width="341" height="128">
              </picture>
            </h3>
            <p class="balloon" data-scroll-active>
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/instagram_balloon_md.png">
                <img src="/lp/assets/images/pages/instagram_balloon.png" alt="" width="184.5" height="104.5">
              </picture>
            </p>
            <ul class="instagram-list">
              <li class="instagram-list__item" data-scroll-active>
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/instagram_image01_md.jpg">
                  <img src="/lp/assets/images/pages/instagram_image01.jpg" alt="" width="315" height="177.5">
                </picture>
              </li>
              <li class="instagram-list__item" data-scroll-active>
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/instagram_image02_md.jpg">
                  <img src="/lp/assets/images/pages/instagram_image02.jpg" alt="" width="315" height="232">
                </picture>
              </li>
              <li class="instagram-list__item" data-scroll-active>
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/instagram_image03_md.jpg">
                  <img src="/lp/assets/images/pages/instagram_image03.jpg" alt="" width="315" height="202">
                </picture>
              </li>
              <li class="instagram-list__item" data-scroll-active>
                <img src="/lp/assets/images/pages/instagram_image04_md.jpg" alt="">
              </li>
              <li class="instagram-list__item" data-scroll-active>
                <img src="/lp/assets/images/pages/instagram_image05_md.jpg" alt="">
              </li>
              <li class="instagram-list__item" data-scroll-active>
                <img src="/lp/assets/images/pages/instagram_image06_md.jpg" alt="">
              </li>
            </ul>
          </section><!-- .sec-instagram -->
        </div><!-- .l-container -->
      </section><!-- .sec-published -->

      <div class="image-gallery">
        <div class="liblary01 liblary--l c-liblary" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">L</p>
                <p class="word__text">
                  <span class="main">自然とともに</span>
                  <span class="sub">Love Nature</span>
                </p>
              </div>
              <p class="text">自然の恵みを、自然なままで。生態系に配慮したサスティナブルな方法を追求します。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="l-container">
          <div class="image-gallery__image image01" data-rellax-speed="6" data-rellax-xs-speed="2">
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/gallery_image01_md.jpg">
              <img src="/lp/assets/images/pages/gallery_image01.jpg" alt="" width="232" height="349">
            </picture>
          </div>
          <div class="image-gallery__image image02" data-rellax-speed="4" data-rellax-xs-speed="1">
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/gallery_image02_md.jpg">
              <img src="/lp/assets/images/pages/gallery_image02.jpg" alt="" width="233.5" height="349">
            </picture>
          </div>
          <div class="image-gallery__image image03" data-rellax-speed="2" data-rellax-xs-speed="2">
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/gallery_image03_md.jpg">
              <img src="/lp/assets/images/pages/gallery_image03.jpg" alt="" width="234" height="348">
            </picture>
          </div>
        </div>
      </div><!-- .image-galley -->

      <section class="sec-flow">
        <div class="liblary01 liblary--m c-liblary c-liblary--reverse" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">M</p>
                <p class="word__text">
                  <span class="main">マレーシア</span>
                  <span class="sub">Malaysia</span>
                </p>
              </div>
              <p class="text">東南アジアのマレー半島南部とボルネオ島北部を領域とする連邦君主制国家。首都クアラルンプール。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="liblary02 liblary--n c-liblary" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">N</p>
                <p class="word__text">
                  <span class="main">自然の力は科学を超える</span>
                  <span class="sub">Naturally</span>
                </p>
              </div>
              <p class="text">病院や薬の対症療法ではどうしようもなかった不調が、 シアル酸の「免疫力」で根本から良いサイクルを回し始めます。 スウィフトママが大切な人を救ってきた“常備薬”には、 現代医学で立証される確かな力があったのです。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="liblary03 liblary--o c-liblary c-liblary--reverse" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">O</p>
                <p class="word__text">
                  <span class="main">オーガニック</span>
                  <span class="sub">Organic</span>
                </p>
              </div>
              <p class="text">化学的な肥料や薬品を使わないことはもちろん、 近隣を森林に厚く覆われ、 大気汚染や流行病からも守られた無人島で穫れるつばめの巣は100％天然由来のオーガニック</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="l-container">
          <h2 class="sec-flow__heading" data-scroll-active>
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/flow_heading_md.png">
              <img src="/lp/assets/images/pages/flow_heading.png" alt="" width="315" height="233">
            </picture>
          </h2>

          <ul class="flow-list">
            <li class="flow-list__item flow-list__item--01" data-scroll-active>
              <div class="image">
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/flow_image01_md.jpg">
                  <img src="/lp/assets/images/pages/flow_image01.jpg" alt="" width="300" height="215">
                </picture>
              </div>
              <div class="text">
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/flow_text01_md.png">
                  <img src="/lp/assets/images/pages/flow_text01.png" alt="" width="295" height="373">
                </picture>
                <p class="text-txt text-txt--01">
                  つばめたちに安全で清潔な住まいを提供するために、無人島にバードハウスを作りました。野生のつばめたちは、朝餌を探しにハウスから出かけ、夕方羽を休めに戻ってきます。RIA RASAはそのつばめに安全で清潔な住まいを提供しているだけです。
                </p>
              </div>
            </li>
            <li class="flow-list__item flow-list__item--02" data-scroll-active>
              <div class="image">
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/flow_image02_md.jpg">
                  <img src="/lp/assets/images/pages/flow_image02.jpg" alt="" width="300" height="215">
                </picture>
              </div>
              <div class="text">
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/flow_text02_md.png">
                  <img src="/lp/assets/images/pages/flow_text02.png" alt="" width="295" height="309.5">
                </picture>
                <p class="text-txt text-txt--02">
                  虫さえも敵としない自然の摂理に寄り添い、あるがままの大自然な姿で育った健康なつばめの、子育てが終わった巣を確認して大切に手摘みします。品質はもちろん、巣をいただくプロセスにもこだわりを持ちました。
                </p>
              </div>
            </li>
            <li class="flow-list__item flow-list__item--03" data-scroll-active>
              <div class="image">
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/flow_image03_md.jpg">
                  <img src="/lp/assets/images/pages/flow_image03.jpg" alt="" width="300" height="215">
                </picture>
              </div>
              <div class="text">
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/flow_text03_md.png">
                  <img src="/lp/assets/images/pages/flow_text03.png" alt="" width="295" height="287">
                </picture>
                <p class="text-txt text-txt--03">
                  100％オーガニックにこだわった3つの原材料だけ。余計な美容成分や添加物、保存料はゼロ。職種な温度管理、よい菌は殺さず、眠らせるケミカルな漂白や化学物質の混ぜ物も一切していません。
                </p>
              </div>
            </li>
            <li class="flow-list__item flow-list__item--04" data-scroll-active>
              <div class="image">
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/flow_image04_md.jpg">
                  <img src="/lp/assets/images/pages/flow_image04.jpg" alt="" width="300" height="215">
                </picture>
              </div>
              <div class="text">
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/flow_text04_md.png">
                  <img src="/lp/assets/images/pages/flow_text04.png" alt="" width="295" height="340.5">
                </picture>
                <p class="text-txt text-txt--04">
                  風通しが良く清潔なハウスにできるつばめの巣は透明度が高くとてもクリーン。薬品で洗浄することなく、漂白をせず、栄養分はギュっと濃いまま。加えて、つばめの巣は近くにある工場ですぐに洗浄しているので、摘みたてのフレッシュな状態でお届けしています。
                </p>
              </div>
            </li>
            <li class="flow-list__item flow-list__item--05" data-scroll-active>
              <div class="image">
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/flow_image05_md.jpg">
                  <img src="/lp/assets/images/pages/flow_image05.jpg" alt="" width="300" height="215">
                </picture>
              </div>
              <div class="text">
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/flow_text05_md.png">
                  <img src="/lp/assets/images/pages/flow_text05.png" alt="" width="295" height="290.5">
                </picture>
                <p class="text-txt text-txt--05">
                  つばめの巣を粉砕せずに、そのまま丸ごと“ゴロっ”と入れてボトリングしました。美容成分などのエキスを加えて薄めずに、本物の濃厚なつばめの巣をお楽しみください。
                </p>
              </div>
            </li>
            <li class="flow-list__item flow-list__item--06" data-scroll-active>
              <div class="image">
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/flow_image06_md.jpg">
                  <img src="/lp/assets/images/pages/flow_image06.jpg" alt="" width="300" height="215">
                </picture>
              </div>
              <div class="text">
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/flow_text06_md.png">
                  <img src="/lp/assets/images/pages/flow_text06.png" alt="" width="295" height="229">
                </picture>
                <p class="text-txt text-txt--06">
                  見た目がきれいな色だったり、いい香りがするものは添加物が入っているのかもしれません。余計なものでごまかさず、よりシンプルに。イメージよりも中身で勝負！
                </p>
              </div>
            </li>
          </ul>
        </div><!-- .l-container -->
      </section><!-- .sec-flow -->

    <%- include('/conversion', { idValue: "C_CV03" }) %>


      <section class="sec-schedule">
        <div class="sec-schedule__before">
          <div class="liblary01 liblary--p c-liblary" data-scroll-active="none">
            <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
                height="17"></button>
            <div class="c-liblary__card">
              <p class="head">
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                  <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
                </picture>
              </p>
              <div class="content">
                <div class="word">
                  <p class="word__alphabet">P</p>
                  <p class="word__text">
                    <span class="main">パーフェクトフード</span>
                    <span class="sub">perfect food</span>
                  </p>
                </div>
                <p class="text">
                  つばめの巣は、ローヤルゼリーと並び称されるパーフェクトフード。タンパク質やアミノ酸、炭水化物に脂質、カルシウム、ビタミンB1、カリウム、リン、ヨウ素などのミネラル分も豊富です。シアル酸の含有量はローヤルゼリーの200倍とも。</p>
              </div>
            </div>
          </div><!-- .c-liblary -->
          <div class="liblary02 liblary--q c-liblary c-liblary--reverse" data-scroll-active="none">
            <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
                height="17"></button>
            <div class="c-liblary__card">
              <p class="head">
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                  <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
                </picture>
              </p>
              <div class="content">
                <div class="word">
                  <p class="word__alphabet">Q</p>
                  <p class="word__text">
                    <span class="main">品質保証</span>
                    <span class="sub">Quality</span>
                  </p>
                </div>
                <p class="text">RIA RASAのつばめの巣は、日本で唯一マレーシア政府から認定を受けた産地証明付きの手摘みの巣。政府の管轄である無人島でハウスネストのビジネスの権利を持っている日本企業は私たちRIA RASAだけです。</p>
              </div>
            </div>
          </div><!-- .c-liblary -->
          <div class="l-container">
            <h2 class="sec-schedule__heading" data-scroll-active>
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/schedule_heading_md.png">
                <img src="/lp/assets/images/pages/schedule_heading.png" alt="" width="315" height="161">
              </picture>
            </h2>
            <div class="grid">
              <p class="box" data-scroll-active>
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/schedule_box_md.png">
                  <img src="/lp/assets/images/pages/schedule_box.png" alt="" width="315" height="722">
                </picture>
              </p>
            </div>
          </div>
        </div>
        <div class="sec-schedule__after">
          <div class="liblary01 liblary--r c-liblary" data-scroll-active="none">
            <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
                height="17"></button>
            <div class="c-liblary__card">
              <p class="head">
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                  <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
                </picture>
              </p>
              <div class="content">
                <div class="word">
                  <p class="word__alphabet">R</p>
                  <p class="word__text">
                    <span class="main">リアラーサの意味</span>
                    <span class="sub">RIA RASA</span>
                  </p>
                </div>
                <p class="text">マレー語で「RIA」は喜びを、「RASA」は幸せを意味します。幸せなツバメたちからの「幸せ」のお福分け。幸せが連鎖するようにと名付けました。</p>
              </div>
            </div>
          </div><!-- .c-liblary -->

          <div class="image">
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/schedule_after_md.jpg">
              <img src="/lp/assets/images/pages/schedule_after.jpg" alt="" width="375" height="737">
            </picture>
          </div>
        </div>
      </section>

      <section class="sec-recommend">
        <div class="liblary01 liblary--s c-liblary c-liblary--reverse" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">S</p>
                <p class="word__text">
                  <span class="main">シアル酸</span>
                  <span class="sub">Sialic Acid</span>
                </p>
              </div>
              <p class="text" style="text-align: left;">
                細胞表面の糖鎖端末に存在する糖の一種(酸性糖)で、産まれたての赤ちゃんの免疫機能を高め、ウィルスなどから守る初乳(生後10日までの間に出る母乳)に多く含まれます。<br>インフルエンザウィルスと結合するレセプターにもなり、効果的に体外へと排除します。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="liblary02 liblary--t c-liblary" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">T</p>
                <p class="word__text">
                  <span class="main">若々しい肌</span>
                  <span class="sub">Turn Over</span>
                </p>
              </div>
              <p class="text">
                つばめの巣の美肌効果は、表面的でなく根本からのアプローチ。肌表面のターンオーバーを促すはたらきに加え、真皮層からコラーゲンがどんどん生成されていくので正しいサイクルが刻まれるたびに若々しさが増してゆきます。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="liblary03 liblary--u c-liblary c-liblary--reverse" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">U</p>
                <p class="word__text">
                  <span class="main">自社一括管理</span>
                  <span class="sub">Unity</span>
                </p>
              </div>
              <p class="text">東南アジアや中国で取り引きされる高級食材、つばめの巣の業者は残念ながら玉石混在。RIA RASAはRFIDというシステムを導入し、収穫から輸送に至るまでのすべてを追跡できる安全性を求めました。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="l-container">
          <h2 class="sec-recommend__heading" data-scroll-active>
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/recommend_heading_md.png">
              <img src="/lp/assets/images/pages/recommend_heading.png" alt="" width="225.5" height="132">
            </picture>
          </h2>
          <p class="text" data-scroll-active>
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/recommend_text_md.png">
              <img src="/lp/assets/images/pages/recommend_text.png" alt="" width="292" height="156">
            </picture>
          </p>

          <ul class="recommend-list">
            <li class="recommend-list__item" data-scroll-active>
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/recommend_image01_md.png">
                <img src="/lp/assets/images/pages/recommend_image01.png" alt="" width="315" height="1433">
              </picture>
            </li>
            <li class="recommend-list__item" data-scroll-active>
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/recommend_image02_md.png">
                <img src="/lp/assets/images/pages/recommend_image02.png" alt="" width="315" height="1406">
              </picture>
            </li>
          </ul>
        </div>
      </section>

      <section class="sec-government">
        <div class="liblary01 liblary--v c-liblary" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">V</p>
                <p class="word__text">
                  <span class="main">価値あるもの</span>
                  <span class="sub">Value</span>
                </p>
              </div>
              <p class="text">本物にこだわった素材としての価値。何も加えない行程としての価値。そして、自然を守り自然と生きるという価値。3つのヴァリューが、RIA RASAの哲学です。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->

        <div class="image">
          <picture>
            <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/government_image_md.jpg">
            <img src="/lp/assets/images/pages/government_image.jpg" alt="">
          </picture>
        </div>
      </section>

      <%- include('/conversion', { idValue: "C_CV04" }) %>

      <section class="sec-voice">
        <div class="liblary01 liblary--w c-liblary c-liblary--reverse" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">W</p>
                <p class="word__text">
                  <span class="main">世界基準</span>
                  <span class="sub">World Standard</span>
                </p>
              </div>
              <p class="text">
                マレーシアより中国へつばめの巣を輸出する際、中国政府はRFIDチップによる産地証明を求めます。そして、安全でなければ取り締まりを行います。導入に莫大な費用がかかりますが、RIA RASAは「安全性」への信頼を優先。RFIDチップを導入し、世界の中でもとりわけ安全管理の厳しい日本への輸出を叶えました。世界に通用する、私たち日本人の誠実さの現れです。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="liblary02 liblary--x c-liblary" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">X</p>
                <p class="word__text">
                  <span class="main">ハグ＆キス</span>
                  <span class="sub">Xoxo</span>
                </p>
              </div>
              <p class="text">RIA RASAはお客様はもちろん、ツバメたち、関係するすべてのスタッフの関係について、仲がいい友達や家族のような存在でいたいと思っています。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="l-container">
          <h2 class="sec-voice__heading" data-scroll-active>
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/voice_heading_md.png">
              <img src="/lp/assets/images/pages/voice_heading.png" alt="" width="312.5" height="135.5">
            </picture>
          </h2>
          <div class="image" data-scroll-active>
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/voice_image_md.png">
              <img src="/lp/assets/images/pages/voice_image.png" alt="" width="375" height="841">
            </picture>
          </div>
        </div>
      </section>

      <section class="sec-faq">
        <div class="liblary01 liblary--y c-liblary c-liblary--reverse" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">Y</p>
                <p class="word__text">
                  <span class="main">利益よりも大事なもの</span>
                  <span class="sub">Yield</span>
                </p>
              </div>
              <p class="text">およそ30日かけてツバメたちが作った巣は、専門スタッフによって手摘みされ、丁寧に掃除され、何度も何度も洗われます。そのyield(収穫高)はスタッフ一人につき一日5つ。私たちは、大量消費をしません。自然のものを、丁寧に時間をかけていただきます。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="l-container">
          <h2 class="sec-faq__heading">
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/sec_faq_ttl_md.png">
              <img src="/lp/assets/images/pages/sec_faq_ttl.png" alt="食べ方は？他との違いは？ よくあるご質問" width="252" height="79">
            </picture>
          </h2>
          <div class="sec-faq__contents">

            <%- include('/faq') %>

          </div>
        </div>
      </section>

      <section class="sec-purchase" id="Conversion">
        <div class="liblary01 liblary--z c-liblary" data-scroll-active="none">
          <button class="c-liblary__button" role="button"><img src="/lp/assets/images/pages/icon_swallow.svg" alt="" width="24.5"
              height="17"></button>
          <div class="c-liblary__card">
            <p class="head">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/liblary_head_md.png">
                <img src="/lp/assets/images/pages/liblary_head.png" alt="RIA RASAのつばめの巣を知るA to Z" width="274" height="77">
              </picture>
            </p>
            <div class="content">
              <div class="word">
                <p class="word__alphabet">Z</p>
                <p class="word__text">
                  <span class="main">添加物ゼロ</span>
                  <span class="sub">Zero Additive</span>
                </p>
              </div>
              <p class="text">RIA RASAのつばめの巣はどれも100％天然食品。「赤ちゃんからお年寄りまで」を理念に、ケミカルな漂白や化学物質の混ぜ物を一切しません。最低限の行程で、素材のよさをダイナミックにお届けすること。それが、スウィフトママ、そして飲んでくださる皆さまへのRIA RASAの誓いです。</p>
            </div>
          </div>
        </div><!-- .c-liblary -->
        <div class="l-container">
          <h2 class="sec-purchase__head">
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/sec_purchase_ttl01_md.png">
              <img src="/lp/assets/images/pages/sec_purchase_ttl01.png" alt="" width="332" height="178">
            </picture>
          </h2>
          <div class="product product--01">
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/sec_purchase_img01_md.png">
              <img src="/lp/assets/images/pages/sec_purchase_img01.png" alt="" width="346" height="585.5">
            </picture>
            <div class="product-modal-btn">
              <button class="product-modal-btn__item" js-modal-btn="modal-01">
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/modal_btn01_md.png">
                  <img src="/lp/assets/images/pages/modal_btn01.png" width="207" height="30" alt="人間に必要な8種の糖鎖栄養素">
                </picture>
              </button>
              <button class="product-modal-btn__item" js-modal-btn="modal-02">
                <picture>
                  <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/modal_btn02_md.png">
                  <img src="/lp/assets/images/pages/modal_btn02.png" width="97" height="30" alt="栄養成分">
                </picture>
              </button>
            </div>
            <!-- modal -->
            <div class="product-modal">
              <button class="modal-close" js-modal-close><span class=" modal-close__item--01"></span><span class="modal-close__item--02"></span></button>
              <div class="modal-wrap">
                <div class="modal" id="modal-01" js-modal-target>
                  <div class="modal__content">
                    <h3 class="modal-lead">
                      人間に必要な8種の糖鎖栄養素
                    </h3>
                    <table>
                      <tbody>
                        <tr>
                          <th class="is_names">単糖名</th>
                          <th>含有食材</th>
                          <th>働き</th>
                        </tr>
                        <tr>
                          <td class="is_names">グルコース</td>
                          <td>
                            <span>てんさい糖 </span>など、ほとんどの植物・穀物、キノコ、コロイド天然水などに含まれています
                          </td>
                          <td>ブドウ糖、重荷エネルギー源、免疫賦活作用 </td>
                        </tr>
                        <tr>
                          <td class="is_names">ガラクトース</td>
                          <td>
                            <span>つばめの巣 </span>、乳製品、キノコ、増粘剤(カラギーナン)などに含まれています
                          </td>
                          <td>免疫系に重要、癌の成長・転移阻害、腸内細菌の維持、カルシウムの吸収の増加 </td>
                        </tr>
                        <tr>
                          <td class="is_names">マンノース</td>
                          <td>
                            <span>つばめの巣 </span>、キノコ、アロエ、サボテン、コロイド天然水、コンニャクなどに含まれています
                          </td>
                          <td>免疫系に重要、マクロファージ活性化、細菌感染阻害 </td>
                        </tr>
                        <tr>
                          <td class="is_names">フコース</td>
                          <td>
                            <span>つばめの巣 </span>、藻類(特にモズクやひじき)、亜麻などに含まれています
                          </td>
                          <td>免疫系に重要、癌の成長・転移阻害、気道感染症治療、抗炎症 </td>
                        </tr>
                        <tr>
                          <td class="is_names">キシロース</td>
                          <td>穀物や植物の皮、キノコ、コロイド天然水、メープルシロップなどに含まれています </td>
                          <td>殺菌作用、病原体・アレルゲンの結合阻害 </td>
                        </tr>
                        <tr>
                          <td class="is_names">N-アセチルグルコサミン</td>
                          <td>
                            <span>つばめの巣 </span>、甲殻類の甲羅(カニ、エビ)などに含まれています
                          </td>
                          <td>変形性関節症治療、グルコサミノクリガン形成、癌の抑制、ヒアルロン酸の素 </td>
                        </tr>
                        <tr>
                          <td class="is_names">N-アセチルガラクトサミン</td>
                          <td>
                            <span>つばめの巣 </span>、キノコ、鮫軟骨、牛乳、ムコ多糖体などに含まれています
                          </td>
                          <td>癌の増殖・転移に関与 </td>
                        </tr>
                        <tr>
                          <td class="is_names">N－アセチルノイラミン酸</td>
                          <td>
                            <span>つばめの巣 </span>、母乳、ホエイたんぱくなどに含まれています
                          </td>
                          <td>脳の発育に必要、免疫系に関与、粘膜の粘度調節（細菌感染防止）シアル酸＝コラーゲンの素 </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="modal" id="modal-02" js-modal-target>
                  <div class="modal__content">
                    <h3 class="modal-lead">
                      栄養成分(100gあたり)
                    </h3>
                    <div class="seibun">
                      <div class="left">
                        <p class="caution">栄養成分(100gあたり)</p>
                        <table>
                          <tbody>
                            <tr>
                              <th>水分</th>
                              <td>92.9&nbsp;g</td>
                            </tr>
                            <tr>
                              <th>たんぱく質</th>
                              <td>1.8&nbsp;g</td>
                            </tr>
                            <tr>
                              <th>脂質</th>
                              <td>0.1&nbsp;g未満</td>
                            </tr>
                            <tr>
                              <th>灰分</th>
                              <td>0.2&nbsp;g</td>
                            </tr>
                            <tr>
                              <th>炭水化物</th>
                              <td>5.1&nbsp;g</td>
                            </tr>
                            <tr>
                              <th>エネルギー</th>
                              <td>28&nbsp;kcal</td>
                            </tr>
                            <tr>
                              <th>ナトリウム</th>
                              <td>32.6&nbsp;mg</td>
                            </tr>
                          </tbody>
                        </table>
                        <p class="caution">※財団法人日本食品分析センター 分析結果より </p>
                      </div>
                      <div class="right">名称：クレオパトラの朝食
                        <br>原材料：つばめの巣、てんさい糖
                        <br>内容量：50ml × 5本
                        <br>賞味期限：2年
                        <br>保存方法：直射日光を避け、常温または冷蔵で保存してください。
                        <br>原産国名：マレーシア
                        <br>
                        <br>ご注意
                        <br>保存料を一切使用しておりませんので、開封後は冷蔵庫で保管の上、お早めにお召し上がりください。
                        <br>天然の材料を使用しておりますので、内容物の色が異なったり沈殿物が生じる場合がありますが、品質上は問題ありません。
                      </div>
                      <br class="clear">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- modal -->
            <a href="https://www.riarasa.com/shop/add_to_cart/?item_qty_2[qty]=1&amp;item_id_2=order&amp;return_url=https://riarasa.com/lp/"
              target="_blank"
              class="btn btn--01" id="C_CV05">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/sec_purchase_btn01_md.png">
                <img src="/lp/assets/images/pages/sec_purchase_btn01.png" alt="ご購入はこちら" width="315" height="90">
              </picture>
            </a>
          </div>
          <p class="product product--02">
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/sec_purchase_img02_md.png">
              <img src="/lp/assets/images/pages/sec_purchase_img02.png" alt="" width="375" height="1253">
            </picture>
            <a href="https://www.riarasa.com/shop/add_to_cart/?item_qty_3[qty]=1&item_id_3=periodically_order&return_url=https://riarasa.com/purchase.html"
              target="_blank" class="btn btn--02" id="C_CV06">
              <picture>
                <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/sec_purchase_btn02_md.png">
                <img src="/lp/assets/images/pages/sec_purchase_btn02.png" alt="定期便でのご購入はこちら" width="315" height="90">
              </picture>
            </a>
          </p>
          <p class="caution-txt u-d-md-none">
            <img src="/lp/assets/images/pages/caution-txt.png" alt="" width="265" height="8.5">
          </p>
        </div>
      </section>

      <section class="sec-band">
        <div class="sec-band__wrapper">
          <h2 class="sec-band__txt">
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/sec_band_ttl_md.png">
              <img src="/lp/assets/images/pages/sec_band_ttl.png" alt="豊かな太陽、ミネラル豊富な海、澄んだ空気が素晴らしい手つかずの自然が残る無人島から、海を越えて日本へ産地直送。"
                width="311" height="145">
            </picture>
          </h2>
        </div>
      </section>

    </main><!-- .l-main -->

    <%- include('/footer') %>

    <div class="fixed-conversion" id="js-fixed-conversion">
      <p class="fixed-conversion__text">
        <picture>
          <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/fixed_conversion_text_md.png">
          <img src="/lp/assets/images/pages/fixed_conversion_text.png" alt="" width="162.5" height="63">
        </picture>
      </p>
      <p class="fixed-conversion__button">
        <a href="https://www.riarasa.com/shop/add_to_cart/?item_qty_2[qty]=1&item_id_2=order&return_url=https://riarasa.com/purchase.html" target="_blank">
          <picture>
            <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/fixed_conversion_button_md.png">
            <img src="/lp/assets/images/pages/fixed_conversion_button.png" alt="" width="175" height="60">
          </picture>
        </a>
      </p>
    </div><!-- .fixed-conversion -->

  </div><!-- .l-page -->

  <script src="/lp/assets/scripts/vendors.js" defer></script>
  <script src="/lp/assets/scripts/pages/common.js" defer></script>
  <script src="/lp/assets/scripts/pages/index.js" defer></script>

</body>

</html>
