<%
  if (typeof idValue === 'undefined') { var idValue = ''; }
%>
<section class="sec-conversion">
  <div class="l-container">
    <h2 class="copy">
      <picture>
        <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/conversion_copy_md.png">
        <img src="/lp/assets/images/pages/conversion_copy.png" alt="" width="332" height="177.5">
      </picture>
    </h2>
    <p class="product">
      <picture>
        <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/conversion_product_md.png">
        <img src="/lp/assets/images/pages/conversion_product.png" alt="" width="347" height="416">
      </picture>
    </p>
    <p class="button">
      <a href="https://www.riarasa.com/shop/add_to_cart/?item_qty_2[qty]=1&amp;item_id_2=order&amp;return_url=https://riarasa.com/lp/"
        id="<%- idValue %>" target="_blank">
        <picture>
          <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/conversion_button_md.png">
          <img src="/lp/assets/images/pages/conversion_button.png" alt="" width="315" height="90">
        </picture>
      </a>
    </p>
  </div><!-- .l-container -->
</section><!-- .sec-conversion -->
