<%
const data = [
{
q:`いつ？食べるのがいいですか？`,
a:`お薬ではございませんので、厳密に申し上げます、といつお召し上がり頂いても問題ございません。
私どもの推奨しているのは夜になります。
※寝ている間に体の中で行われる修復効果により体内の不調な部分の修復やターンオーバー促進にへ導き、翌朝の美肌効果やすっきりとした目覚めなどの効果が期待できます。是非翌朝、素肌やお身体の状態をＣＨＥＣＫしてみてくださいませ。`
},
{
q:`妊娠中・授乳中ですが飲んでも大丈夫ですか？`,
a:`クレオパトラの朝食は、つばめの巣の原材料から薬品を使用しての洗浄はしておりません。そして添加物・保存料なども使用しておりません。大変パワフルなものになっております為、まずは係りつけのお医者様にご相談に上、安心してお召し上がり頂く事をお願いしております。`
},
{
q:`服用しているお薬やサプリメントと一緒に摂取して大丈夫でしょうか？`,
a:`つばめの巣は、お薬ではなく食品でございますので、お薬やほかのサプリメント等と一緒にお飲み頂いて大丈夫ですがパワフルな物になりますので、持病をお持ちの方、敏感な方などは念のため一度掛かりつけのお医者様にご相談いただく事をお勧めさせて頂いております。`
},
{
q:`送料はいくらかかりますか？`,
a:`送料はRIARASAにてご負担させていただいておりますので、お届け先住所に関わらず、送料は発生致しません。`
},
{
q:`注文者と別の住所に直接送って貰うことは可能でしょうか？`,
a:`もちろん可能でございます。
ご注文時に別途、送り先ご住所をご登録下さいませ。`
},
{
q:`贈答用なので金額がわかるものを入れないで送る事は可能でしょうか？`,
a:`もちろん可能でございます。
ご贈答用のお品や、送り先別でのご注文を頂いた際には料金のわかる明細書を同梱せずお送りさせていただいております。
また、ご購入者様へお品のお包みの様子のお写真を別途郵送にてお送りさせていただいております。`
},
]
%>

<% data.forEach((item, index) => { %>
<div class="accordion">
  <div class="accordion__head">
    <button class="accordion-trigger" aria-controls="faq-collapsible-<%- index %>" data-collapse-toggler>
      <div class="accordion-trigger__btn"><span></span></div>
      <p class="accordion-trigger__txt">
        <%- item.q.replace(/\n/g, '<br>') %>
      </p>
    </button>
  </div>
  <div class="accordion__content" id="faq-collapsible-<%- index %>" aria-labelledby="faq-collapse-toggler-<%- index %>">
    <div class="accordion-answer">
      <p class="accordion-answer__txt">
        <%- item.a.replace(/\n/g, '<br>') %>
      </p>
    </div>
  </div>
</div>
<% }) %>
