<footer class="l-footer" id="js-footer">
  <div class="l-footer__upper">
    <div class="l-container">
      <h2 class="footer-log">
        <picture>
          <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/footer_logo_md.png">
          <img src="/lp/assets/images/pages/footer_logo.png" alt="RIARASA" width="251" height="107">
        </picture>
      </h2>
      <div class="footer-btns">
        <p class="footer-btns__item">
          <a href="https://www.riarasa.com/contact/index" target="_blank" id="F_CONTACT">
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/footer_btn01_md.png">
              <img src="/lp/assets/images/pages/footer_btn01.png" alt="お問い合わせはこちら" width="295" height="65">
            </picture>
          </a>
        </p>
        <p class="footer-btns__item">
          <a href="https://www.riarasa.com/" target="_blank" id="F_OFFICIAL">
            <picture>
              <source media="(min-width: 768px)" srcset="/lp/assets/images/pages/footer_btn02_md.png">
              <img src="/lp/assets/images/pages/footer_btn02.png" alt="RIA RASA公式サイトへ" width="295" height="65">
            </picture>
          </a>
        </p>
      </div>
      <div class="footer-sns">
        <h3 class="footer-sns__txt">
          RIA RASA公式アカウント
        </h3>
        <ul class="footer-sns__item">
          <li class="item-logo">
            <a href="https://www.instagram.com/riarasa_official/?hl=ja" target="_blank" class="item-logo__link" id="F_INSTA">
              <svg class="sns-02" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64.9 64.9"><path d="M32.5 5.8c8.7 0 9.7 0 13.1.2 3.2.1 4.9.7 6 1.1 1.5.6 2.6 1.3 3.7 2.4 1.1 1.1 1.8 2.2 2.4 3.7.4 1.1 1 2.9 1.1 6 .2 3.4.2 4.4.2 13.1s0 9.7-.2 13.1c-.1 3.2-.7 4.9-1.1 6-.6 1.5-1.3 2.6-2.4 3.7-1.1 1.1-2.2 1.8-3.7 2.4-1.1.4-2.9 1-6 1.1-3.4.2-4.4.2-13.1.2s-9.7 0-13.1-.2c-3.2-.1-4.9-.7-6-1.1-1.5-.6-2.6-1.3-3.7-2.4-1.1-1.1-1.8-2.2-2.4-3.7-.4-1.1-1-2.9-1.1-6C6 42 6 41 6 32.3s0-9.7.2-13.1c.1-3.2.7-4.9 1.1-6 .6-1.5 1.3-2.6 2.4-3.7 1.1-1.1 2.2-1.8 3.7-2.4 1.1-.4 2.9-1 6-1.1 3.4-.1 4.4-.2 13.1-.2m0-5.8c-8.8 0-9.9 0-13.4.2s-5.8.7-7.9 1.5c-2.1.8-3.9 1.9-5.8 3.7C3.6 7.2 2.5 9 1.7 11.1.9 13.2.3 15.5.2 19 0 22.5 0 23.6 0 32.5c0 8.8 0 9.9.2 13.4s.7 5.8 1.5 7.9c.8 2.1 1.9 3.9 3.7 5.7 1.8 1.8 3.6 2.9 5.7 3.7 2.1.8 4.4 1.4 7.9 1.5 3.5.2 4.6.2 13.4.2s9.9 0 13.4-.2 5.8-.7 7.9-1.5c2.1-.8 3.9-1.9 5.7-3.7 1.8-1.8 2.9-3.6 3.7-5.7.8-2.1 1.4-4.4 1.5-7.9.2-3.5.2-4.6.2-13.4s0-9.9-.2-13.4-.7-5.8-1.5-7.9c-.8-2.1-1.9-3.9-3.7-5.7-1.8-1.8-3.6-2.9-5.7-3.7C51.6 1 49.3.4 45.8.3 42.4 0 41.3 0 32.5 0z"/><path d="M32.5 15.8c-9.2 0-16.7 7.5-16.7 16.7s7.5 16.7 16.7 16.7 16.7-7.5 16.7-16.7-7.5-16.7-16.7-16.7zm0 27.5c-6 0-10.8-4.8-10.8-10.8s4.8-10.8 10.8-10.8c6 0 10.8 4.8 10.8 10.8s-4.9 10.8-10.8 10.8z"/><circle cx="49.8" cy="15.1" r="3.9"/></svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="l-footer__lower">
    <div class="l-container">
      <nav>
        <ul class="footer-nav">
          <li class="footer-nav__ls">
            <a href="https://www.riarasa.com/privacy.html" target="_blank" class="item">
              プライバシーポリシー
            </a>
          </li>
          <li class="footer-nav__ls">
            <a href="https://www.riarasa.com/law.html" target="_blank" class="item">
              特定商取引法に基づく表示
            </a>
          </li>
        </ul>
      </nav>
      <p class="copyright">
        Copyright © RIA RASA®. All rights reserved.
      </p>
    </div>
  </div>
</footer>
